<div class="WordSection1">

    <p class="MsoNormal" align="center" style="text-align:center"><b><span
                style="font-size:20.0pt;line-height:107%">Chính sách hoàn trả vé, đổi
                vé</span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><b><span
                style="font-size:14.0pt;line-height:120%">I. Điều kiện hoàn trả
                vé, đổi vé:</span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Người thực hiện
            giao dịch đổi vé, trả vé điện tử phải
            là người mua vé điện tử hoặc là một
            trong các hành khách đi tầu trên cùng một lần giao dịch
            mua vé điện tử. Các vé điện tử được
            coi là cùng một giao dịch mua vé nếu được ghi
            trên cùng một hóa đơn điện tử.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Vé điện tử đi
            ngay không có thông tin sẽ không được đổi, trả
            lại. Trong những trường hợp tàu gặp sự
            cố, các Công ty VTĐS sẽ quy định danh sách các vé
            đi ngay được đổi, trả trên hệ thống.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Điều kiện áp dụng:
            Hành khách hoặc người mua vé có quyền trả vé và
            các dịch vụ đi kèm theo các quy định của
            ngành Đường sắt. Khi đổi vé, trả vé hành
            khách sẽ phải hoàn trả toàn bộ các dịch vụ
            đi kèm theo vé và chịu nộp một khoản phí
            được tính bằng tổng phí đổi vé, trả
            vé và phí hủy dịch vụ đi kèm vé theo quy định.
            Hành khách cũng có thể hủy dịch vụ và trả
            phí hủy dịch vụ theo quy định.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Đối với trẻ em
            vị thành niên, chỉ người bảo lãnh mua vé mới
            được thực hiện đổi, trả vé tại
            Cửa vé. Trong trường hợp người mua là công
            ty, cần cung cấp giấy giới thiệu về
            người thực hiện đổi, trả vé (có
            đóng dấu) và giấy tờ tùy thân để thực
            hiện đổi, trả vé cho vé trẻ vị thành niên.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Người mua vé cung cấp
            giấy tờ tùy thân có thể thực hiện đổi,
            trả vé cho những vé mình mua.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Đối với các vé bị
            khóa cấm trả trên hệ thống (vé đi ngay, vé báo mất…),
            trong một số trường hợp đặc biệt,
            Công ty VTĐS Hà Nội và VTĐS Sài Gòn có thể thiết lập
            để được phép trả vé trên hệ thống.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><b><span
                style="font-size:14.0pt;line-height:120%">II. Quy định về thời
                gian hoàn trả vé, đổi vé: </span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Quý khách đều có quyền
            thay đổi hoặc chấm dứt giao dịch trước
            khi thanh toán tiền vé tại các ga hoặc tại các Đại
            lý, bưu cục bán vé tàu hỏa. Trường hợp
            đã thanh toán tiền vé, nếu Quý khách muốn thay đổi
            hoặc chấm dứt giao dịch thì thời gian trả,
            đổi vé áp dụng theo các quy định hiện hành của
            ngành đường sắt. </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Quy định cụ thể:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Hành khách có quyền trả lại
            vé, đổi vé trước giờ tàu chạy. Doanh nghiệp
            quy định cụ thể mức khấu trừ
            tương ứng với thời gian trả lại vé,
            đổi vé và các nội dung khác có liên quan đến việc
            trả lại vé, đổi vé của hành khách.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><b><i><span
                    style="font-size:14.0pt;line-height:120%">1.Thời gian trả lại
                    vé, đổi vé:</span></i></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">&nbsp;1.1. Tàu khách trong nước
            (bao gồm tàu khách Thống nhất và tàu khách Khu đoạn
            chạy suốt trên tuyến đường sắt Bắc
            - Nam):</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">a) Đối với vé cá
            nhân: Trước giờ tàu chạy là 4 giờ.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">b) Đối với vé tập
            thể: trước giờ tàu chạy tối thiểu là
            24 giờ.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">c) Đối với tập
            thể mua vé trọn toa, trọn cụm toa xe thực hiện
            theo các thỏa thuận trong hợp đồng mua vé.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">&nbsp;1.2. Tàu Liên vận quốc tế:
            thực hiện theo quy định của Tổ chức
            OSZD, cụ thể:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">a) Đối với vé cá
            nhân: Trước giờ tàu chạy là 6 giờ. </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">b) Đối với vé tập
            thể&nbsp;: Trước giờ tàu chạy tối thiểu
            là 5 ngày.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">c) Nếu không tuân thủ thời
            hạn trên và trong trường hợp tàu chưa chạy
            thì chỉ trả lại tiền vé khách (cá nhân, tập thể),
            không trả lại tiền vé nằm.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">1.3. Tùy từng giai đoạn,
            thời điểm trong năm, Công ty VTSG sẽ điều
            chỉnh thời gian trả lại vé, đổi vé phù hợp
            với tình hình thực tế.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><b><i><span
                    style="font-size:14.0pt;line-height:120%">2. Quy định về
                    điều kiện trả vé, đổi vé:</span></i></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">2.1. Đối với các tàu
            Thống Nhất và tàu Khu đoạn:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">2.1.1. Trường hợp
            đổi vé: </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Chỉ áp dụng đổi
            vé đối với vé cá nhân.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Hành khách được
            đổi vé khi có đủ các điều kiện sau:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Thời gian đổi vé
            thực hiện theo quy định tại Mục 1 nêu trên;</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Có cùng ga đi, ga đến;</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Đổi vé 1 lần duy
            nhất;</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Bố trí được
            chỗ theo yêu cầu của hành khách;</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Không được đổi
            vé trong trường hợp thay đổi thông tin cá nhân ghi
            trên vé đã mua. </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Sau khi đã đổi vé,
            nếu hành khách có nhu cầu trả lại vé thì mức khấu
            trừ trả vé đối với các vé đã đổi
            là 30% số tiền in trên vé.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Các nhân viên bán vé khi đổi
            vé cho hành khách viết thêm thông tin "vé đã đổi"
            (đối với vé cứng) bằng bút không tẩy xóa
            được vào sau tấm vé đã đổi của hành
            khách và đóng dấu khách vận.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">2.1.2. Trường hợp trả
            lại vé:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">a) Đối với vé cá
            nhân: Người mua vé hoặc người đi tàu
            được trả vé khi có đủ các điều kiện
            sau:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Đối với vé điện
            tử: </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Có cung cấp thông tin: Thông
            tin cá nhân trên giấy tờ tùy thân của người mua vé
            hoặc người đi tàu trùng khớp với thông tin in
            trên Thẻ lên tàu và thông tin ghi nhận trên hệ thống
            bán vé điện tử.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">+ Không cung cấp thông tin cá
            nhân (vé đi ngay): Không được trả lại vé, trừ
            trường hợp khi xảy ra sự cố gây tắc
            đường chạy tàu vì nguyên nhân bất khả kháng
            và ốm đau đột xuất thì các vé này được
            giải quyết theo quy định của Doanh nghiệp.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Đối với vé cứng:
            Vé còn nguyên vẹn, không bị rách nát; Không bị tẩy,
            xóa, sửa chữa và còn đủ các thông tin trên vé.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">b) Đối với vé tập
            thể: Tập thể được trả vé khi có đủ
            các điều kiện sau:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Đối với tập
            thể là đơn vị, tổ chức: Có công văn
            đề nghị hoặc giấy giới thiệu của
            đơn vị, tổ chức. Người đại diện
            cho đơn vị, tổ chức khi đến làm thủ
            tục trả vé phải mang theo giấy giới thiệu,
            giấy tờ tùy thân, danh sách tập thể đi tàu.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Đối với tập
            thể không phải là đơn vị, tổ chức: Giấy
            tờ tùy thân của trưởng đoàn đại diện,
            danh sách tập thể đi tàu.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">c) Đối với tập
            thể mua vé trọn toa, trọn cụm toa xe thực hiện
            theo các thỏa thuận trong hợp đồng mua vé.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">2.2.&nbsp; Đối với tàu
            Liên vận quốc tế:</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Hành khách được trả
            vé khi: Vé còn nguyên vẹn, không bị rách nát; không bị tẩy,
            xóa, sửa chữa và còn đủ các thông tin trên vé.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">2.3. Doanh nghiệp sẽ
            căn cứ tình hình thực tế để quy định
            thời gian đổi, trả cho từng mác tàu, từng
            tuyến đường trong các thời điểm cụ
            thể.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><b><span
                style="font-size:14.0pt;line-height:120%">III. Mức phí trả lại
                vé, đổi vé: </span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Phí trả vé được
            xác định căn cứ trên các quy định về phí
            trả vé của ngành đường sắt hoặc theo
            các quy định cụ thể đối với các vé mua
            có áp dụng các chương trình khuyến mãi giảm giá. </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Doanh nghiệp sẽ
            căn cứ tình hình thực tế để điều
            chỉnh mức phí trả lại vé, đổi vé cho từng
            mác tàu, từng tuyến đường trong các thời
            điểm cụ thể.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:42.55pt;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">- Tàu Liên vận quốc tế
            thực hiện theo quy định của tổ chức
            Liên vận quốc tế OSZD<span style="letter-spacing:-.3pt">.</span></span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><b><span style="font-size:14.0pt;line-height:
    120%">IV. Cách thức lấy lại tiền đổi, trả
                vé:</span></b></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">Có hai hình thức lấy lại tiền đổi, trả
            vé: Tiền mặt, chuyển về tài khoản thanh toán.</span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">1. Trường hợp khi mua vé trực tiếp tại
            các điểm bán vé hoặc mua vé qua Website và thanh toán trả
            sau bằng tiền mặt tại các điểm thanh toán
            (ATM/Internet Banking/Mobile Banking, nộp tiền mặt tại
            ga, tại các Đại lý bán vé tàu hỏa, tại các
            Bưu cục (VNPOST), các điểm giao dịch của Ngân
            hàng VIB, qua các tiện ích bằng ứng dụng PAYOO,… hoặc
            nộp tiền mặt tại các đại lý thu hộ ủy
            quyền của Đường sắt Việt Nam), khi thực
            hiện việc đổi, trả vé sẽ được
            nhận tiền mặt trực tiếp tại các điểm
            bán vé&nbsp; tại ga hoặc đại lý (căn cứ quy định
            cụ thể của ngành đường sắt).</span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">2. Trường hợp khi mua vé và thanh toán bằng hình
            thức thanh toán trực tuyến: </span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">2.1. Thanh toán qua các cổng thanh toán trực tuyến:
            Napas, Ngân lượng, Payoo và VnPay: Tiền chuyển về
            tài khoản đã thanh toán khi mua vé.</span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">Đối với giao dịch hoàn tiền thẻ quốc
            tế: Sau khi Haraco thực hiện thao tác hoàn tiền trên cổng
            trước 17h chiều hàng ngày, ngày hôm sau NHTT (ngân hàng trung
            tâm) sẽ đối chiếu số liệu và tổng hợp
            dữ liệu của ngày hôm trước và gửi đi
            TCTQT (tổ chức thẻ quốc tế), tại thời
            điểm này hệ thống sẽ tự động trích
            nợ khoản tiền của Haraco. Sau khoảng thời
            gian T+4 kể từ ngày gửi dữ liệu đi, tiền
            sẽ được hoàn về phía đầu NHPH (ngân hàng
            phát hành). Tuy nhiên, thời gian NHPH hoàn tiền cho Khách hàng là&nbsp;
            tùy theo chính sách của từng ngân hàng.</span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">Đối với giao dịch hoàn tiền thẻ nội
            địa: Sau khi Haraco thực hiện hoàn tiền vào ngày
            hôm trước, ngày hôm sau tiền đã được
            trích nợ từ Haraco để hoàn về phía ngân hàng phát
            hành. Tại thời điểm trước ngày 1/10/2017, thời
            gian NHPH hoàn tiền cho Khách hàng là tùy theo chính sách của từng
            Ngân hàng, mới đây (ngày 1/10/2017) theo quy định TCTV (tổ
            chức thành viên)&nbsp; mới giữa Napas và NHPH thì NHPH sẽ phải
            hoàn tiền cho KH trong vòng 2 ngày kể từ ngày nhận
            được tiền hoàn.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:120%"><i><u><span
                    style="font-size:14.0pt;line-height:120%">Lưu ý:</span></u></i><i><span
                style="font-size:14.0pt;line-height:120%"> </span></i><span style="font-size:
    14.0pt;line-height:120%">Thẻ Quốc tế: Tùy từng ngân
            hàng phát hành thẻ có ngân hàng sẽ trừ vào kỳ sao kê của
            tháng kế tiếp, có ngân hàng sẽ thông báo bằng tin nhắn
            số tiền hoàn trả.</span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:6.55pt;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:120%"><span style="font-size:14.0pt;line-height:
    120%">2.2. Thanh toán qua các ví điện tử: Momo, Vimo…: Tiền
            chuyển về tài khoản của khách hàng trên ví điện
            tử.<a name="_GoBack"></a></span></p>

    <p class="MsoNormal" style="margin-left:14.2pt;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoNormal" style="margin-left:14.2pt;text-align:justify;text-justify:
    inter-ideograph;text-indent:21.8pt"><span style="font-size:14.0pt;line-height:
    107%">Quý khách có thể tham khảo thêm “Quy trình trả vé”
            được hướng dẫn </span><a href="https://youtu.be/ZPL8oM5i4Fg" target="_parent"><span style="font-size:14.0pt;line-height:
    107%">tại đây</span></a><span style="font-size:14.0pt;line-height:
    107%">.</span></p>

</div>