<div class="WordSection1">

    <p class="MsoNormal" align="center" style="text-align:center"><b><span style="line-height:107%;color:red">Các Điều
                Kiện &amp; Điều
                Khoản</span></b></p>

    <p class="MsoNormal" align="center" style="text-align:center;line-height:normal;
    background:white"><a name="DieuKienSuDung"><b><span style="font-size:14.0pt">***Điều
                    Kiện Sử Dụng Hệ Thống Mua Vé Trực Tuyến</span></b></a><b><span
                style="font-size:14.0pt">***</span></b></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">1.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Phạm
                vi áp dụng </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">Điều
            kiện dưới đây áp dụng riêng cho chức
            năng đặt chỗ, mua vé trực tuyến tại
            Website. Khi sử dụng chức năng để đặt
            chỗ và mua vé, Quý khách mặc nhiên đã chấp thuận
            và tuân thủ tất cả các chỉ dẫn, điều
            khoản, điều kiện và lưu ý đăng tải
            trên Website, bao gồm nhưng không giới hạn bởi
            Điều kiện Sử dụng nêu ở đây. Nếu
            Quý khách không có ý định mua vé trực tuyến hay không
            đồng ý với bất kỳ điều khoản 3
            hay điều kiện nào nêu trong Điều kiện Sử
            dụng, xin hãy DỪNG VIỆC SỬ DỤNG chức
            năng này. </span></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">2.<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Điều
                kiện sử dụng tính năng mua vé trực tuyến </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">a. Tính
            năng mua vé trực tuyến chỉ sử dụng cho mục
            đích cá nhân và phi thương mại. Quý khách không
            được phép sửa đổi, sao chép, phổ biến,
            dịch chuyển, hiển thị, vận hành, nhân bản,
            công bố, nhượng quyền, tạo các liên kết,
            chuyển giao hoặc tổ chức kinh doanh từ các thông
            tin, phần mềm, sản phẩm hay dịch vụ có
            được từ tính năng mua vé trực tuyến. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Tính
            năng mua vé trực tuyến sẽ trợ giúp Quý khách tra cứu
            thông tin và hoàn tất các thao tác mua sản phẩm dịch vụ
            một cách hợp lệ. Tuy nhiên nếu lạm dụng
            tính năng này, Quý khách có thể sẽ bị từ chối
            truy cập hoặc sử dụng. Trong trường hợp
            có bất kỳ thiệt hại nào phát sinh do việc vi phạm
            Quy định sử dụng trang Web, chúng tôi có quyền
            đình chỉ hoặc khóa tài khoản của Quý khách
            vĩnh viễn. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">c. Quý khách
            phải khẳng định và bảo đảm rằng
            quý khách đã đủ năng lực hành vi dân sự khi sử
            dụng chức năng mua vé trực tuyến, đảm bảo
            việc tuân thủ Điều kiện Sử dụng nêu ra
            ở đây và có đủ quyền và năng lực theo
            qui định của pháp luật để thực thi các
            hành vi liên quan đến việc sử dụng tính năng
            này. Quý khách chấp nhận nghĩa vụ về mặt tài
            chính đối với mọi hành vi sử dụng Website của
            chính mình hoặc bất cứ cá nhân hay tổ chức nào sử
            dụng tên và tài khoản của quý khách. Quý khách phải tự
            kiểm soát việc sử dụng tính năng mua vé trực
            tuyến sử dụng tài khoản do Quý khách đăng ký.
            Quý khách phải đảm bảo rằng mọi thông tin do
            Quý khách cung cấp khi sử dụng tính năng này là
            đúng và chính xác. </span></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">3.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Quy định
                đặt chỗ </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">a. Quý khách
            có thể đặt chỗ cho tối đa 04 khách (không bao
            gồm trẻ sơ sinh) trong mỗi lần thực hiện.
        </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Trẻ
            em dưới 10 tuổi tại thời điểm khởi
            hành phải được đặt chỗ đi cùng
            người lớn. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">c. Trẻ
            em dưới 6 tuổi: Miễn vé và sử dụng chung chỗ
            của người lớn đi kèm. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">d. Trẻ
            em từ 6 đến dưới 10 tuổi: Giảm 25% giá
            vé </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">e. Người
            cao tuổi từ 60 tuổi trở lên: Giảm 15% giá vé. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">f. Học
            sinh, sinh viên: Giảm 10% giá vé. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">g. Giá vé
            trên Website chỉ áp dụng cho các giao dịch mua vé trên
            Website tại thời điểm mua vé. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">h. Đặt
            chỗ của Quý khách sẽ không được đảm
            bảo đến khi thanh toán thành công. </span></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">4.<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Quy định
                về các khoản phí </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">a. Tổng
            số tiền thanh toán đã bao gồm các thuế, bảo
            hiểm hành khách phải trả trên toàn bộ hành trình. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Ngoài ra, Đường
            sắt Việt Nam không chịu trách nhiệm đối với
            các khoản phí có thể phát sinh theo chính sách của ngân hành
            phát hành thẻ. </span></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">5.<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Quy định
                về thanh toán </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">a. Khách hàng
            có thể chọn một trong 2 hình thức thanh toán: <b>trực
                tuyến</b> hoặc <b>trả sau</b>
        </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Trong
            trường hợp thanh toán trực tuyến, khách hàng có thể
            được yêu cầu xuất trình thẻ thanh toán cùng
            giấy tờ tùy thân để đối chiếu khi ra ga
            lấy vé. Trong trường hợp không xác thực
            được thẻ theo yêu cầu, Quý khách sẽ phải
            mua vé mới hoặc bị từ chối chuyên chở. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">c. Trong
            trường hợp Quý khách lựa chọn hình thức
            "Trả sau", Quý khách có thể thực hiện việc
            thanh toán tại ga, bưu cục hoặc các đại lý của
            Đường sắt Việt Nam. </span></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">6.<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Quy định
                trả vé, hủy bỏ giao dịch </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">a. Quý khách đều có quyền thay đổi hoặc
            chấm dứt giao dịch trước khi thanh toán tiền
            vé tại các ga hoặc tại các Đại lý, bưu cục
            bán vé tàu hỏa, trường hợp đã thanh toán tiền
            vé nếu Quý khách muốn thay đổi hoặc chấm dứt
            giao dịch thì phải chịu mức phí trả vé, đổi
            vé hiện hành mà ngành đường sắt quy định.
            Quý khách có thể xem quy định chi tiết về Chính
            sách hoàn trả vé</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Trong
            trường hợp Đường sắt Việt Nam thay
            đổi lịch chạy tàu, khách hàng sẽ được
            thông báo qua địa chỉ thư điện tử khách
            hàng đã đăng ký khi mua vé trên website của Đường
            sắt Việt Nam. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">c. Để
            kiểm tra lại chi tiết giờ tàu chạy, Quý khách có
            thể tra cứu giờ tàu trên website của Đường
            sắt Việt Nam hoặc vui lòng liên hệ trung tâm hỗ
            trợ khách hàng theo số 19006469 để được
            giải đáp. </span></p>

    <p class="MsoListParagraph" style="margin-left:.25in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in"><b><span style="font-size:
    14.0pt;line-height:107%">7.<span>&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:107%">Nghiêm cấm
                sử dụng </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">a. Quý khách
            không được phép sử dụng tính năng mua vé trực
            tuyến để đặt chỗ trái phép, giữ chỗ
            khống, đặt chỗ với các thông tin giả mạo
            hoặc thiếu trung thực. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Quý khách
            không được phép: - Sử dụng tính năng mua vé trực
            tuyến vào mục đích kinh doanh dịch vụ bán vé; hoặc
            - Sử dụng tính năng mua vé trực tuyến cho các hành
            động trái pháp luật; hoặc - Sử dụng tính
            năng mua vé trực tuyến gây cản trở đến
            sự truy cập và sử dụng dịch vụ này của
            người khác; </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in"><span style="font-size:14.0pt;line-height:107%">b. Đường
            sắt Việt Nam có quyền huỷ bỏ yêu cầu sử
            dụng tính năng này của Quý khách mà không cần bất
            kỳ thông báo nào nếu thấy rằng Quý khách đang vi
            phạm những quy định này. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

</div>