<div class="WordSection1" style="padding: 50px;">

    <p class="MsoNormal" align="center" style="text-align:center"><b><span style="font-size:18.0pt;color:red">Các phương
                thức thanh toán
                khi mua vé tàu online</span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:17.1pt"><span style="color:black">&nbsp;</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    line-height:17.1pt;margin-left:20px;margin-right:20px;"><span style="font-size:14.0pt">Khi mua vé
            tàu online, khách hàng có thể
            chọn một trong hai hình thức thanh toán:Thanh toán trực
                tuyến hoặc trả sau. Chi tiết các
            bước để đặt chỗ và thanh toán vé tàu
            như sau:<a name="_GoBack"></a></span></p>

    <p class="MsoListParagraph" style="margin-top:0in;margin-right:0in;margin-bottom:
    0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:
    inter-ideograph;text-indent:-.25in;line-height:115%"><a name="_TOC433991410"><b><span
                    style="font-size:14.0pt;line-height:115%">I. </span></b><b><span
                    style="font-size:14.0pt;line-height:115%">ĐẶT CHỖ</span></b></a></p>

    <p class="MsoNormal"><span style="font-size:14.0pt;line-height:107%">Đây là
            giao diện chính (trang chủ) khi khách hàng đăng nhập
            vào trang web:</span></p>

    <p class="MsoNoSpacing" align="center" style="text-align:center"><img width="631" height="397"
            id="Picture 1263844031" src="assets/images/image001.PNG"></p>

    <p class="MsoNormal">&nbsp;</p>

    <p class="MsoListParagraphCxSpFirst" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in;line-height:150%"><a name="_Toc433991411"><b><span
                    style="font-size:14.0pt;line-height:150%">1.<span
                        style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span></b><b><span style="font-size:14.0pt;line-height:150%">T</span></b></a><b><span
                style="font-size:14.0pt;line-height:150%">ìm vé</span></b></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Nhập thông
            tin&nbsp; Hành trình&nbsp; vào &lt;Ga đi&gt;, &lt;Ga đến&gt;: Nhập
            hai kí tự đầu của ga, hệ thống sẽ tự
            động tìm nhanh đến nơi cần chọn.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Ví dụ: Nhập “HN” vào &lt;Ga đi&gt; hệ thống
            sẽ tự động tìm được Ga đi là “Hà Nội”.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="line-height:150%"><span style="font-size:14.0pt;line-height:150%">Nhấn
            phím &lt;Tab&gt; để
            chuyển xuống các trường.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" align="center" style="text-align:center"><img width="300" height="520"
            id="Picture 1655056023" src="assets/images/image002.PNG"></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:115%"><span style="font-size:14.0pt;line-height:115%;font-family:
    Symbol">·<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:115%">Nhập Thời
            gian vào &lt;Ngày đi&gt; hoặc có thể nhấn </span><span style="font-size:
    14.0pt;line-height:115%">&nbsp;để xem lịch chọn nhanh. </span></p>
    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Chọn chiều
            đi &lt;Một chiều&gt; hoặc &lt;Khứ hồi&gt;. </span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Nếu chọn &lt;Khứ hồi&gt; thì khách hàng phải
            nhập thêm thông tin ngày giờ chiều về.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Click &lt;Tìm kiếm&gt;&nbsp;
            hệ thống chuyển sang màn hình hiển thị thông tin
            chi tiết về các chỗ trên từng đoàn tàu để
            khách hàng chọn. </span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in;line-height:150%"><a name="_Toc433991412"><b><span
                    style="font-size:14.0pt;line-height:150%">2.<span
                        style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span></b><b><span style="font-size:14.0pt;line-height:150%">Chọn chỗ</span></b></a><b><span
                style="font-size:14.0pt;line-height:150%"> </span></b></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Dựa vào
            tiêu chí tìm kiếm của khách hàng, hệ thống sẽ
            đưa ra danh sách các đoàn tàu xuất phát trong ngày cần
            đi của hành khách.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Hệ thống
            chọn mặc định 1 đoàn tàu có thời gian gần
            nhất so với thời gian tìm kiếm. Khách hàng có thể
            chọn đoàn tàu khác có trên màn hình. Đoàn tàu được
            chọn sẽ được đổi màu xanh để
            phân biệt với các đoàn tàu còn lại.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" align="center" style="margin-left:0in;
    text-align:center;line-height:150%"><img width="624" height="541" id="Picture 25" src="assets/images/image005.PNG"></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Khi chọn 1
            đoàn tàu, danh sách các toa xe trong đoàn tàu đó được
            hiển thị bên dưới. Trạng thái của các toa xe
            được thể hiện qua màu của toa như sau</span></p>

    <p class="MsoListParagraphCxSpLast" style="text-align:justify;text-justify:inter-ideograph"><i><span
                style="font-size:14.0pt;line-height:107%">&nbsp;</span></i></p>

    <p class="MsoNormal" align="center" style="margin-left:22.5pt;text-align:center"><img width="582" height="52"
            id="Picture 68" src="assets/images/image006.PNG"></p>

    <p class="MsoNormal" style="margin-left:.5in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Click vào 1 toa
            trên đoàn tàu, sơ đồ các chỗ trong toa sẽ hiển
            thị bên dưới. Khi rê chuột lên trên các vị trí chỗ
            trong toa, trạng thái chỗ, loại chỗ và giá tiền sẽ
            được hiển thị. Nếu chỗ là màu vàng, hệ
            thống sẽ hiển thị thêm thông tin về thời
            gian tạm giữ vé.</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Trạng thái
            của chỗ sẽ được hiển thị thông
            qua màu của chỗ như sau:</span></p>

    <p class="MsoNormal" align="center" style="margin-top:0in;margin-right:14.0pt;
    margin-bottom:8.0pt;margin-left:31.5pt;text-align:center;line-height:150%"><img width="591" height="127"
            id="Picture 67" src="assets/images/image007.PNG"></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Khách hàng chỉ
            có thể chọn các chỗ màu trắng hoặc màu xanh
            để đưa vào hoặc bỏ ra khỏi giỏ vé.
            Sau khi click vào các chỗ màu trắng, chỗ sẽ
            được chuyển sang trạng thái màu xanh (chỗ
            đang chọn), và chuyển vào giỏ vé. Tại giỏ
            vé, khách hàng sẽ nhìn thấy các chỗ đã chọn và thời
            gian hệ thống tạm giữ các chỗ này. Nếu
            khách hàng click vào các chỗ màu xanh, hệ thống xóa vé khỏi
            giỏ và chuyển lại trạng thái thành màu trắng.</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Khách hàng có thể
            xóa chỗ trong giỏ vé nếu click vào biểu tượng
            Thùng rác bên cạnh mỗi vé trong giỏ. Con số trên biểu
            tượng Thùng rác là số giây vé tạm giữ cho khách
            hàng.</span></p>

    <p class="MsoNormal" align="center" style="text-align:center"><img width="642" height="453" id="Picture 65"
            src="assets/images/image008.PNG"></p>

    <p class="MsoNormal" align="center" style="text-align:center"><span
            style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    115%"><span style="font-size:14.0pt;line-height:115%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:115%">Nếu khách
            hàng chọn mua vé khứ hồi, thông tin về các đoàn
            tàu của chiều về sẽ hiển thị
            tương tự như chiều đi để khách hàng
            chọn chỗ.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:115%"><span style="font-size:14.0pt;line-height:115%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:115%">Nếu số
            lượng vé vượt quá số lượng cho phép
            đặt trên web, hệ thống sẽ đưa ra thông
            báo cảnh báo (Mỗi khách hàng chỉ được đặt
            mua 4 vé một chiều và 8 vé khứ hồi)</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:115%"><span style="font-size:14.0pt;line-height:115%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:115%">Sau khi đã
            chọn đủ vé, khách hàng click vào &lt;Mua vé&gt; để
            chuyển sang bước nhập thông tin khách hàng đi tàu.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.25in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in;line-height:150%"><a name="_Toc433991413"><b><span
                    style="font-size:14.0pt;line-height:150%">3.<span
                        style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span></b><b><span style="font-size:14.0pt;line-height:150%">Nhập thông tin hành
                    khách</span></b></a></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.55in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.3in;line-height:150%"><a name="_Toc433991414"><b><span
                    style="font-size:14.0pt;line-height:150%">3.1.<span
                        style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span></b><b><span style="font-size:14.0pt;line-height:150%">Nhập
                    thông tin hành khách đi tàu</span></b></a></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Màn hình nhập
            thông tin hành khách hiển thị như sau</span></p>

    <p class="MsoNormal" align="center" style="text-align:center"><img width="624" height="476" id="Picture 29"
            src="assets/images/image009.PNG"></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Trên màn hình hiển
            thị các dòng thông tin tương ứng với số vé
            khách đặt, bao gồm Họ tên, Số CMND/Hộ chiếu/Ngày
            tháng năm sinh, Đối tượng khách hàng. </span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Khách hàng nhập
            &lt;Họ tên&gt;, &lt;Số giấy tờ&gt; (Số chứng
            minh nhân dân hoặc số hộ chiếu hoặc số giấy
            phép lái xe đường bộ được pháp luật
            Việt Nam công nhận hoặc ngày tháng năm sinh nếu là
            trẻ em hoặc thẻ sinh viên nếu là sinh viên)</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Tại mục
            &lt;Đối tượng&gt;, nếu đối tượng
            là trẻ em, người cao tuổi, hệ thống sẽ
            hiển thị ra màn hình nhập ngày tháng năm sinh như
            sau:</span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpFirst" align="center" style="margin-left:0in;
    text-align:center;line-height:150%"><img width="274" height="480" id="Picture 840354498"
            src="assets/images/image010.PNG"></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Trẻ em dưới 6 tuổi: Được miễn
            vé và đi cùng người lớn</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Trẻ em từ 6 tuổi – 10 tuổi: Mua vé trẻ em với
            giá vé giảm 25% giá vé người lớn</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Người cao tuổi (trên 60 tuổi): được
            mua vé giảm 15% giá vé người lớn.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Sinh viên: được mua vé giảm 10% giá vé người
            lớn</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Nếu chọn
            đối tượng là Người cao tuổi, hệ thống
            sẽ kiểm tra độ tuổi theo ngày tháng năm sinh
            nhập vào. Nếu không thỏa mãn điều kiện, hiện
            cảnh báo:</span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpFirst" align="center" style="margin-left:0in;
    text-align:center;line-height:150%"><img width="642" height="434" id="Picture 71" src="assets/images/image011.PNG"></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Chú ý: Các thông
            tin cần nhập chính xác vì các thông tin này sẽ được
            in ra trên vé và có thể được kiểm tra khi lên tàu.</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Ở &lt;Thông
            tin chỗ&gt; sẽ hiển thị thời gian giữ vé,
            quá thời gian giữ vé để nhập thông tin thì hệ
            thống sẽ tự động nhả vé và hiện biểu
            tượng cảnh báo.</span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">&nbsp;</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><i><span
                style="font-size:14.0pt;line-height:107%"><img width="650" height="255" id="Picture 17"
                    src="assets/images/image012.PNG" alt="11.1.png"></span></i></p>

    <p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Khách hàng có thể
            xóa vé khi ấn vào biểu tượng thùng rác.</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><i><span
                style="font-size:14.0pt;line-height:107%">&nbsp;</span></i></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.55in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.3in;line-height:150%"><b><span
                style="font-size:14.0pt;line-height:150%">3.2.<span
                    style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;line-height:150%">&nbsp;Thông tin
                người mua vé:</span></b></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:150%"><span style="font-size:14.0pt;line-height:150%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Nhập thông
            tin người đặt vé:</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph;line-height:150%"><span style="font-size:14.0pt;line-height:
    150%">Nhập chính xác &lt;Họ và tên&gt;, &lt;Số CMND/Hộ
            chiếu&gt;, &lt;Email&gt;, &lt;Số di động&gt;.</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    150%"><span style="font-size:14.0pt;line-height:150%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:150%">Nhập thông
            tin xuất hóa đơn (nếu cần lấy hóa
            đơn).</span></p>

    <p class="MsoNormal" style="text-indent:.5in"><img width="664" height="303" id="Picture 1820016651"
            src="assets/images/image013.PNG"></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:17.1pt"><span style="font-size:14.0pt;color:black">Sau
            khi thực hiện các bước đặt chỗ
            trực tuyến trên Website, đến bước thanh toán
            khách hàng có thể chọn một trong 2 hình thức thanh toán
            gồm: Thanh toán trực tuyến qua các cổng thanh toán
            hoặc ví điện tử và thanh toán trả sau. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    text-indent:.5in;line-height:17.1pt"><span style="color:black"><img width="659" height="241" id="Picture 988949740"
                src="assets/images/image014.PNG"></span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:110%"><b><span
                style="font-size:14.0pt;line-height:110%;color:black">II. CÁC HÌNH THỨC
                THANH TOÁN </span></b><b><span style="font-size:14.0pt;line-height:110%;
    color:black">ĐƠN ĐẶT CHỖ:</span></b></p>
    <a name="ThanhToanTrucTuyen">&nbsp;</a>
    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:110%"><b><span
                style="font-size:14.0pt;line-height:110%;color:black">1. Hình thức thanh
                toán trực tuyến:</span></b></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%">Chọn thanh toán qua các cổng
            thanh toán: Napas; Ngân lượng; Payoo và VnPay hoặc ví điện
            tử.</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%">Click vào phương thức
            thanh toán là Thanh toán trực tuyến qua các cổng thanh toán,
            sẽ chuyển sang màn hình cổng thanh toán tương ứng
            đã chọn</span></p>

    <p class="MsoListParagraphCxSpLast" style="text-align:justify;text-justify:inter-ideograph;
    line-height:150%"><img width="643" height="218" src="assets/images/image015.PNG"></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    line-height:120%"><b><span style="font-size:14.0pt;line-height:120%;color:#0070C0">Ví
                dụ: Cổng thanh toán Napas</span></b></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Có 2
            phương thức thanh toán trực tuyến qua cổng
            Napas:</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.75in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">-<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Thẻ quốc
            tế (Visa, Master, JCB)</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:.75in;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.25in;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">-<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Thẻ ATM,
            tài khoản mở tại ngân hàng Việt Nam</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Hệ thống
            quy định thời hạn giữ vé để khách hàng
            nhập thông tin và thanh toán trực tuyến là 30 phút, quá thời
            hạn này nếu không thanh toán xong vé sẽ tự động
            được trả vé hệ thống</span></p>

    <p class="MsoNormal" align="center" style="text-align:center"><img width="585" height="283" id="Picture 345971349"
            src="assets/images/image016.PNG"></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;line-height:110%"><span style="font-size:
    14.0pt;line-height:110%">&nbsp;</span></p>

    <p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><b><i><span style="font-size:14.0pt;line-height:120%">a)<span
                        style="font:7.0pt ">&nbsp;&nbsp;&nbsp;
                    </span></span></i></b><b><i><span style="font-size:14.0pt;line-height:120%">Thẻ quốc
                    tế:</span></i></b></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    line-height:120%"><span style="font-size:14.0pt;line-height:120%">Chọn
            &lt;Thẻ quốc tế&gt; sẽ hiển thị yêu cầu
            nhập các thông tin thẻ.</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Click&nbsp; &lt;Chọn
            thẻ quốc tế&gt; để chọn The Visa hoặc
            The Master.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:120%"><span style="font-size:14.0pt;line-height:120%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Nhập số
            thẻ, nhập số CVV/CSC và chọn ngày hết hạn.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%"><img width="406" height="281" id="Picture 3"
                src="assets/images/image017.PNG"></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%"><img width="597" height="227" id="Picture 4"
                src="assets/images/image018.PNG"></span></p>

    <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:35.7pt;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-17.85pt;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:110%">Click vào
            &lt;Thanh toán&gt;&nbsp; để trả tiền , Click &lt;Hủy&gt;
            để hủy thanh toán.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:35.7pt;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-17.85pt;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:110%">Thanh toán thành
            công sẽ thông báo Giao dịch thành công và chuyển sang màn
            hình&nbsp; kết quả giao dịch.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:35.7pt;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-17.85pt;line-height:110%"><b><i><span
                    style="font-size:14.0pt;line-height:110%">b)<span
                        style="font:7.0pt">&nbsp;&nbsp;&nbsp;
                    </span></span></i></b><b><i><span style="font-size:14.0pt;line-height:110%">Thẻ
                    ATM, tài khoản mở tại ngân hàng Việt Nam</span></i></b><b><span
                style="font-size:14.0pt;line-height:110%">:</span></b></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:35.7pt;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-17.85pt;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:110%">Chọn phương
            thức Thẻ ATM, tài khoản Ngân hàng Việt Nam</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-top:0in;margin-right:0in;
    margin-bottom:0in;margin-left:35.7pt;margin-bottom:.0001pt;text-align:justify;
    text-justify:inter-ideograph;text-indent:-17.85pt;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:110%">Chọn ngân
            hàng, nhập tên chủ thẻ, nhập hiệu lực thẻ</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%"><img width="597" height="277" id="Picture 27"
                src="assets/images/image019.PNG"></span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    110%"><span style="font-size:14.0pt;line-height:110%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:110%">Click &lt;Thanh
            toán&gt;&nbsp; sẽ hiển thị cửa sổ nhập mã xác nhận:</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;line-height:110%"><span
            style="font-size:14.0pt;line-height:110%">Nhập Mã OTP và nhập mã hiển
            thị trên cổng thanh toán</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    110%"><span style="font-size:14.0pt;line-height:110%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:110%">Click &lt;Thanh
            toán&gt; để hoàn tất giao dịch.</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%"><img width="555" height="164" id="Picture 8"
                src="assets/images/image020.PNG"></span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%">Giao dịch thanh toán thành công
            sẽ hiển thị thông báo:</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%"><img width="646" height="337" id="Picture 30"
                src="assets/images/image021.PNG"></span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    line-height:normal"><span style="font-size:14.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sau khi
            thanh toán
            thành công, hệ thống hiển thị màn hình thông tin chi tiết
            về việc đặt chỗ của khách hàng, bao gồm
            Mã đặt chỗ, danh sách các vé, trạng thái của các
            vé là&nbsp; Đã thanh toán (chưa nhận vé)</span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%"><img width="650" height="321" id="Picture 33"
                src="assets/images/image022.PNG"></span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Click &lt;In&gt;
            để in trang giao dịch thành công ra</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Click &lt;Trang chủ&gt; để
            quay lại màn hình tra cứu.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:120%"><span lang="VI"
            style="font-size:14.0pt;line-height:120%">Giao dịch thành công </span><span
            style="font-size:14.0pt;line-height:120%">Quý</span><span lang="VI"
            style="font-size:14.0pt;line-height:120%"> khách sẽ nhận
            được email thông báo<b> </b><i>“Mua vé thành công”.</i></span><i><span lang="VI"
                style="font-size:14.0pt;line-height:120%"> </span></i><span lang="VI"
            style="font-size:14.0pt;line-height:120%">Sau 1 khoảng thời gian
            theo quy định của Đường sắt Việt
            Nam, </span><span style="font-size:14.0pt;line-height:120%">Quý</span><span lang="VI"
            style="font-size:14.0pt;line-height:120%"> khách có thể mang chứng
            minh thư ra ga và cung cấp mã đặt chỗ để
            in vé và lấy vé đi tàu. </span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:120%"><span lang="VI"
            style="font-size:14.0pt;line-height:120%;color:#0070C0">Chú ý: Khi
            thanh toán trực tuyến, Quý khách có thể được
            yêu cầu xuất trình thẻ thanh toán cùng giấy tờ
            tùy thân để đối chiếu khi ra ga lấy vé. Trong
            trường hợp không xác thực được thẻ
            theo yêu cầu, Quý khách sẽ phải mua vé mới hoặc
            bị từ chối chuyên chở</span></p>

    <a name="ThanhToanTraSau">&nbsp;</a>
    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:120%"><a name="_Toc433991418"><b><span lang="VI"
                    style="font-size:14.0pt;line-height:120%">2.
                    Thanh toán trả sau</span></b></a></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:120%"><span lang="VI"
            style="font-size:14.0pt;line-height:120%">Nếu khách hàng lựa
            chọn hình thức thanh toán là Trả sau, sau khi xác nhận
            hệ thống sẽ chuyển sang màn hình thông báo đặt
            vé thành công như sau:</span></p>

    <p class="MsoNormal" align="center" style="margin-top:6.0pt;margin-right:0in;
    margin-bottom:6.0pt;margin-left:0in;text-align:center;line-height:130%"><img width="627" height="371"
            id="Picture 1916580008" src="assets/images/image023.PNG"></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Khách hàng có thể
            thực hiện thanh toán trong khoảng thời gian quy định
            của ngành Đường sắt (Theo từng thời
            điểm) kể từ thời điểm đặt vé
            thành công qua các hình thức: ATM/Internet Banking/Mobile Banking, nộp
            tiền mặt tại ga, tại các Đại lý bán vé tàu hỏa,
            tại các Bưu cục (VNPOST), các điểm giao dịch
            của Ngân hàng VIB, qua các tiện ích bằng ứng dụng
            PAYOO,… hoặc nộp tiền mặt tại các đại
            lý thu hộ ủy quyền của Đường sắt
            Việt Nam. Đối với hình thức nộp tiền mặt
            qua đại lý, khách hàng cung cấp mã thanh toán cho đại
            lý. Qua thời hạn theo quy định của ngành
            Đường sắt mà khách hàng không thanh toán, hệ thống
            tự động giải phóng chỗ.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:120%"><span style="font-size:14.0pt;line-height:120%;font-family:
    Symbol">·<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Đặt chỗ
            thành công hành khách sẽ nhận được email thông báo
            “ Đặt mua vé thành công”</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:120%"><span style="font-size:14.0pt;line-height:120%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Thanh toán trả
            sau thành công hành khách sẽ nhận được email thông
            báo “Mua vé thành công”</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:120%"><span style="font-size:14.0pt;line-height:120%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Trước
            khi đến thời điểm hết&nbsp; thời gian giữ
            vé để thanh toán 45 phút, khách hàng sẽ nhận
            được email “ Nhắc thanh toán tiền mua vé tàu hỏa”.</span></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;
    line-height:120%"><span style="font-size:14.0pt;line-height:120%;font-family:
    Symbol">·<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Trước
            khi đến thời điểm hết thời gian giữ
            vé 15 phút, khách hàng sẽ nhận được email thông báo
            “ Hết thời gian tạm giữ vé”</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">&nbsp;</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;line-height:120%"><span style="font-size:
    14.0pt;line-height:120%">Khách hàng có thể tra cứu thông tin về
            mã đặt chỗ khi chọn vào menu Thông tin đặt chỗ.</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Nhập &lt;Mã
            đặt chỗ&gt;, &lt;Email&gt;, &lt;Số điện thoại&gt;.</span></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:
    120%"><span style="font-size:14.0pt;line-height:120%;font-family:Symbol">·<span
                style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><span style="font-size:14.0pt;line-height:120%">Click nút &lt;Tra
            cứu&gt;.</span></p>

    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;text-align:
    justify;text-justify:inter-ideograph;text-indent:.5in;line-height:120%"><span
            style="font-size:14.0pt;line-height:120%">Hệ thống hiển thị
            ra danh sách chi tiết các vé của mã đặt chỗ cần
            tra tìm, cùng với thông tin về người đặt vé.</span></p>

    <p class="MsoNormal" style="margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;
    margin-left:0in;text-align:justify;text-justify:inter-ideograph;line-height:
    130%"><img width="624" height="469" id="Picture 44" src="assets/images/image024.PNG"></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    line-height:110%"><span style="line-height:110%;color:black">&nbsp;</span></p>

    <p class="MsoNormal" style="margin-top:0in;margin-right:0in;margin-bottom:0in;
    margin-left:.25in;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;
    line-height:110%"><span style="line-height:110%;color:black">Quý khách có
            thể tham khảo thêm thông tin tại các đường
            dẫn sau:</span></p>

    <p class="MsoListParagraphCxSpFirst" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-indent:-.25in;line-height:110%"><span style="font-size:14.0pt;line-height:
    110%;color:#0070C0">1.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><a href="https://youtu.be/NQI8L7q9yUY" target="_parent"><span style="font-size:14.0pt;line-height:110%;color:#0070C0;background:white;
    text-decoration:none">Hướng dẫn đặt vé và thanh
                toán vé tầu điện tử</span></a></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-indent:-.25in;line-height:110%"><span style="font-size:14.0pt;
    line-height:110%;color:#0070C0">2.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><a href="/#/pages/danhsachthenapas" target="_parent"><span style="font-size:14.0pt;line-height:110%;color:#0070C0;
    background:white;text-decoration:none">Danh sách thẻ thanh toán qua Napas</span></a></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-indent:-.25in;line-height:110%"><span style="font-size:14.0pt;
    line-height:110%;color:#0070C0">3.<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><a href="/images/7_DiaChiThanhToanVIB.pdf" target="_parent"><span style="font-size:14.0pt;line-height:110%;color:#0070C0;
    background:white;text-decoration:none">Địa chỉ thanh toán
                tại ngân hàng VIB</span></a></p>

    <p class="MsoListParagraphCxSpMiddle" style="margin-bottom:0in;margin-bottom:
    .0001pt;text-indent:-.25in;line-height:110%"><span style="font-size:14.0pt;
    line-height:110%;color:#0070C0">4.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><a href="/images/8_BuuCucThuHo.pdf" target="_parent"><span style="font-size:14.0pt;line-height:110%;color:#0070C0;
    background:white;text-decoration:none">Địa chỉ thanh toán
                tại bưu điện</span></a></p>

    <p class="MsoListParagraphCxSpLast" style="margin-bottom:0in;margin-bottom:.0001pt;
    text-indent:-.25in;line-height:110%"><span style="font-size:14.0pt;line-height:
    110%;color:#0070C0">5.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
            </span></span><a href="/#/pages/diemthanhtoanpayoo" target="_parent"><span style="font-size:14.0pt;line-height:110%;color:#0070C0;
    background:white;text-decoration:none">Điểm thanh toán gần nhà
                qua Payoo</span></a></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
    line-height:17.1pt">&nbsp;</p>

</div>