<div class="container-fluid page">
    <div class="page__content shadow p-3 position-relative">
      <div class="main">
        <div class="cards">
          <div class="card">
            <div class="card-content">
              <div class="number">{{veTrongThang}}</div>
              <div class="card-name">Vé trong tháng</div>
            </div>
            <div class="icon-box">
              <i class="fa fa-ticket"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">{{formattedDoanhThu}}</div>
              <div class="card-name">Doanh thu trong tháng</div>
            </div>
            <div class="icon-box">
              <i class="fa fa-shopping-bag"></i>
            </div>
          </div>
        </div>
        <div class="charts" ng>
          <div class="chart">
            <canvas id="columnChart" width="900" height="900"></canvas>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
  