<div class="container-fluid page">
    <div class="page__content shadow p-3 position-relative">
      <div class="main">
        <div class="cards">
          <div class="card">
            <div class="card-content">
              <div class="number">1217</div>
              <div class="card-name">Khách hàng</div>
            </div>
            <div class="icon-box">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">42</div>
              <div class="card-name">Doanh thu</div>
            </div>
            <div class="icon-box">
              <i class="fa fa-shopping-bag"></i>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="number">68</div>
              <div class="card-name">Nhân viên</div>
            </div>
            <div class="icon-box">
              <i class="fa fa-user"></i>
            </div>
          </div>
         
        </div>
        <div class="charts">
          <div class="chart">
            <canvas id="columnChart" width="900" height="900"></canvas>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
  