<div class="container-fluid page">
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        Quản lý vé
      </div>

      <div class="col-md-12 table-responsive list-ticket-desktop" style="padding-top: 70px;">
        <div ng-show="successGroup.length > 0" class="ng-hide">
            <h5 class="et-register-block ng-binding"><!--Các giao dịch thành công-->Danh sách vé</h5>
            <table class="table table-bordered">
                <thead class="et-table-header">
                <tr>
                  <th>   
                    <input type="checkbox">
                  </th>
                    <th style="width: 2%;">#</th>
                    <th style="width: 20%;" class="ng-binding">Hành trình<!--Họ tên--></th>
                    <th style="width: 8%;" class="ng-binding">Khách đặt vé<!--Thông tin vé--></th>
                    <th style="width: 8%;" class="ng-binding">Tàu<!--Thành tiền (VNĐ)--></th>
                    <th style="width: 8%;" class="ng-binding">Mã vé<!--Loại lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Mã đặt chỗ<!--Loại lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Ngày mua<!--Lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">khách hàng<!--Loại lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Đơn giá <!--Lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Loại vé<!--Lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Tình trạng<!--Lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Chức năng<!--Lệ phí trả vé--></th>

                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loads of Ve; let i = index">
                      <td>   
                        <input type="checkbox" (change)="selectLoad($event, loads)">
                    </td>
                        <td>{{i+1}}</td>
                        <td style="width: 15%;">{{loads.hanhTrinh.gaDi}}<br>
                          {{loads.hanhTrinh.gaDen}}<br>
                          Ngày đi:{{loads.hanhTrinh.ngayDi}}<br>
                          Ngày đến:{{loads.hanhTrinh.ngayDen}}<br>
                          Giờ đi:{{loads.hanhTrinh.gioDi}}<br>
                          Giờ đến{{loads.hanhTrinh.gioDen}}<br>
                          Giá vé:{{loads.hanhTrinh.giaVe}}
                        </td>
                        <td>
                          Họ tên:{{loads.khachDatVe.hoTen}}<br>
                          Giấy tờ:{{loads.khachDatVe.soGiayTo}}<br>
                          Email:{{loads.khachDatVe.email}}<br>
                          Số điện thoại:{{loads.khachDatVe.sdt}}<br>
                        </td>
                        <td>
                          Tên tàu:{{loads.hanhTrinh.tau.tenTau}}<br>
                          Số lượng toa:{{loads.hanhTrinh.tau.soLuongToa}}
                        </td>
                        <td>
                          {{loads.maVe}}
                        </td>
                        <td>
                          {{loads.maDatCho}}
                        </td>
                        <td>
                          {{loads.ngayMua}}
                        </td>
                        <td>
                          Tên:{{loads.tenHanhKhach}}<br>
                          Giấy tờ:{{loads.soGiayTo}}
                        </td>
                        <td>
                          {{loads.donGia}}
                        </td>
                        <td>
                          {{loads.loaiVe}}<br>
                          Đối tượng:{{loads.doiTuong}}<br>
                          Số ghế:{{loads.soGhe}}<br>
                          Số toa:{{loads.soToa}}
                        </td>
                        <td>
                          {{loads.tinhTrang}}
                        </td>
                        <td>
                          <input type="button" (click)="btnDatVe()" value="Đặt vé" style="float: left; background-color: blue; outline: none;border: 1px solid #ccc; padding-bottom: 5px;">
                          <input type="button" (click)="btnTraVe()" value="Trả vé" style="float: left; background-color: red; outline: none; border: 1px solid #ccc;">
                        </td>
                       
                    </tr>
                    
                </tbody>
                <!-- ngRepeat: group in successGroup -->
            </table>
        </div>
    </div>
    </div>
  </div>
  