<div class="WordSection1" style="padding:10px ">

    <p class="MsoNormal" align="center" style="text-align:center"><b><span
                style="font-size:14.0pt;line-height:107%;color:red">CHÍNH SÁCH BẢO MẬT
                THÔNG TIN KHÁCH HÀNG CỦA TỔNG CÔNG TY ĐƯỜNG SẮT
                VIỆT NAM</span></b></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">I. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Giới thiệu chung về Đường sắt Việt
                Nam: </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Tổng
            công ty Đường sắt Việt Nam là công ty trách nhiệm
            hữu hạn một thành viên do Nhà nước đầu
            tư 100% vốn điều lệ, hoạt động phù
            hợp với Luật đường sắt, Luật
            doanh nghiệp, Luật quản lý, sử dụng vốn,
            các quy định của pháp luật có liên quan và Điều
            lệ này, có trụ sở tại số 118 đường
            Lê Duẩn, quận Hoàn Kiếm, thành phố Hà Nội (sau
            đây gọi tắt là Đường sắt Việt
            Nam). Điện thoại: 024.39425972; fax: 024.39422866. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Hiện tại,
            Tổng công ty Đường sắt Việt Nam có hai Công
            ty con chuyên tổ chức vận tải hàng hoá, hành khách,
            hành lý bao gửi trên toàn mạng lưới đường
            sắt Việt Nam là Công ty CP Vận tải đường
            sắt Hà Nội (trụ sở tại số 130 Lê Duẩn
            - Q.Hai Bà Trưng - Hà Nội, điện thoại: 024 - 3942 –
            1117; fax: 024 - 3822 - 4736) và Công ty CP Vận tải đường
            sắt Sài Gòn (trụ sở tại 136 Hàm Nghi, phường
            Bến Thành, Quận 1, TP.HCM; điện thoại: 028 3821
            1192).</span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">II. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Cam kết của Đường sắt Việt Nam về
                bảo vệ thông tin cá nhân</span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Chính sách bảo
            mật này công bố cách thức mà Tổng công ty Đường
            sắt Việt Nam (Sau đây gọi tắt là “ Đường
            sắt Việt Nam” hoặc “Chúng tôi”) thu thập, lưu trữ
            và xử lý thông tin hoặc dữ liệu cá nhân (“Thông tin cá
            nhân”) của các Khách hàng của mình thông qua wesite www.dsvn.vn.
            Chúng tôi cam kết sẽ bảo mật các Thông tin cá nhân của
            Khách hàng, sẽ nỗ lực hết sức và sử dụng
            các biện pháp thích hợp để các thông tin mà Khách hàng
            cung cấp cho chúng tôi trong quá trình sử dụng website này
            được bảo mật và bảo vệ khỏi sự
            truy cập trái phép. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Tuy nhiên, Đường
            sắt Việt Nam không đảm bảo ngăn chặn
            được tất cả các truy cập trái phép. Trong
            trường hợp truy cập trái phép nằm ngoài khả
            năng kiểm soát của chúng tôi, Đường sắt
            Việt Nam sẽ không chịu trách nhiệm dưới bất
            kỳ hình thức nào đối với bất kỳ khiếu
            nại, tranh chấp hoặc thiệt hại nào phát sinh từ
            hoặc liên quan đến truy cập trái phép đó. Khách
            hàng được khuyến nghị để nắm rõ những
            quyền lợi của mình khi sử dụng các dịch vụ
            của Đường sắt Việt Nam được
            cung cấp trên website này. Đường sắt Việt Nam
            đưa ra các cam kết dưới đây phù hợp với
            các quy định của pháp luật Việt Nam, trong đó
            bao gồm các cách thức mà chúng tôi sử dụng để
            bảo mật thông tin của Khách hàng. </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">III. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Mục đích thu thập Thông tin cá nhân </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Đường
            sắt Việt Nam thu thập Thông tin cá nhân của Khách hàng
            cho một hoặc một số mục đích như sau: </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">a. Thực
            hiện và quản lý việc đặt chỗ và xuất
            vé cho Khách hàng (bao gồm cả đặt chỗ trực
            tuyến); </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">b. Thực
            hiện và quản lý việc sử dụng dịch vụ
            vận chuyển hàng hóa; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">c. Thực
            hiện và quản lý hoạt động tiếp thị,
            cung cấp thông tin khuyến mại tới Khách hàng như gửi
            các cập nhật mới nhất về thông tin khuyến mại
            và chào giá mới liên quan đến sản phẩm và dịch
            vụ của chúng tôi; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">d. Cung cấp
            giải pháp nâng cấp hoặc thay đổi dịch vụ
            nhằm phục vụ nhu cầu Khách hàng; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">e. Quản
            lý, phân tích, đánh giá số liệu để xây dựng
            chính sách bán và chính sách phục vụ Khách hàng phù hợp; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">f. Tiếp
            nhận thông tin, góp ý, đề xuất, khiếu nại của
            Khách hàng nhằm cải thiện chất lượng dịch
            vụ của Đường sắt Việt Nam; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">g. Liên hệ
            với Khách hàng để giải quyết các yêu cầu của
            Khách hàng;</span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">h. Đảm
            bảo an ninh, an toàn đường sắt và nâng cao tính an
            toàn đối với các giao dịch thanh toán trực tuyến.
        </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">IV. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Loại thông tin thu thập </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Những loại
            Thông tin cá nhân mà Đường sắt Việt Nam thu thập
            từ Khách hàng của mình bao gồm: </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">a. Thông tin
            cá nhân như họ và tên, ngày sinh, số chứng minh nhân
            dân, số hộ chiếu hoặc giấy tờ xác minh nhân
            thân khác; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">b. Thông tin
            liên lạc như số điện thoại, địa chỉ
            email, số fax; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">c. Thông tin về
            thanh toán nếu thanh toán bằng thẻ tín dụng hoặc
            thẻ ghi nợ như tên chủ thẻ, số thẻ,
            ngày hết hạn; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">d. Thông tin về
            doanh nghiệp của Khách hàng như tên doanh nghiệp, địa
            chỉ doanh nghiệp, chức danh; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">e. Các thông
            tin khác phục vụ Chương trình Khách hàng thường
            xuyên như địa chỉ nhà riêng, số điện thoại
            di động, địa chỉ email cá nhân, thói quen, sở
            thích và các thông tin liên quan đến các nhu cầu đặc
            biệt của Khách hàng. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">f. Các Thông
            tin cá nhân trên được yêu cầu khác nhau đối với
            những dịch vụ cụ thể, bao gồm những
            thông tin bắt buộc phải cung cấp hoặc tùy chọn.
            Khách hàng có quyền từ chối hoặc không cung cấp
            đầy đủ các thông tin được yêu cầu.
            Trong trường hợp đó, Đường sắt Việt
            Nam không thể cung cấp cho Khách hàng những dịch vụ
            đầy đủ và chất lượng. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">g. Để
            có thể nhận được sự phục vụ,
            Khách hàng cần đảm bảo tính chính xác và đầy
            đủ của các thông tin cung cấp cho chúng tôi. Nếu
            có bất kỳ sự thay đổi nào về Thông tin cá
            nhân Khách hàng, xin vui lòng thông báo cho chúng tôi thông qua các hình thức
            được công bố trên website. </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">V. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Phương pháp thu thập thông tin </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Đường
            sắt Việt Nam thu thập các Thông tin cá nhân của Khách
            hàng thông qua dịch vụ đặt vé trực tuyến hoặc
            các chương trình khuyến mại cụ thể tại
            website dsvn.vn. </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">VI. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Thời gian lưu trữ thông tin thu thập </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Đường
            sắt Việt Nam sẽ lưu trữ các Thông tin cá nhân do
            Khách hàng cung cấp trên các hệ thống nội bộ của
            chúng tôi trong quá trình cung cấp dịch vụ cho Khách hàng hoặc
            cho đến khi hoàn thành mục đích thu thập hoặc
            khi Khách hàng có yêu cầu hủy các thông tin đã cung cấp.
        </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">VII. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Việc công bố thông tin thu thập </span></b></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.25in;
    text-align:justify;text-justify:inter-ideograph;background:white"><span style="font-size:14.0pt">Đường sắt Việt Nam
            có
            thể tiết lộ dữ liệu cá nhân cho bên thứ ba
            như: các nhân viên của Đường sắt Việt
            Nam được phép tiếp cận dữ liệu cá nhân,
            các đơn vị và công ty thành viên trong Tổng công ty
            Đường sắt Việt Nam, đối tác kinh doanh
            (nhân viên đại lý, công ty cho thuê ô tô, khách sạn, công ty
            phát hành thẻ ngân hàng, v.v…), nhà cung cấp dịch vụ
            hoặc các đối tác dịch vụ lữ hành nhằm
            thực hiện hợp đồng dịch vụ
            (đặt vé và lữ hành, dịch vụ hỗ trợ và
            chăm sóc khách hàng, chương trình khách hàng thường
            xuyên, v.v…), nhằm thực hiện các nghĩa vụ pháp lý
            của Đường sắt Việt Nam (bảo
            đảm an ninh và an chạy tàu, thông tin số
            lượng hành khách, v.v…), thực hiện các quyền
            lợi hợp pháp của Đường sắt Việt
            Nam (tiếp thị trực tiếp từ Đường
            sắt Việt Nam hoặc từ các đối tác của
            Đường sắt Việt Nam <em>sau khi nhận được
                sự chấp thuận của khách hàng</em>, v.v…) và nhằm
            mục đích cung cấp cho Khách hàng các dịch vụ
            tốt nhất.</span></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.25in;
    text-align:justify;text-justify:inter-ideograph;background:white"><span style="font-size:14.0pt">Ngoài ra, khi được
            các cơ quan
            Nhà nước có thẩm quyền (cơ quan hải quan, di
            trú, cảnh sát, v.v…)&nbsp; yêu cầu, Đường sắt
            Việt Nam có thể phải cung cấp thông tin cá nhân
            của Quý khách cho các cơ quan này vì các mục đích an toàn
            an ninh quốc gia và các mục đích khác trong phạm vi
            được yêu cầu hoặc <a name="_GoBack"></a>theo
            luật định. </span></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.25in;
    text-align:justify;text-justify:inter-ideograph;background:white"><span style="font-size:14.0pt">Đường sắt Việt Nam
            sẽ
            nỗ lực hết sức để đảm bảo
            rằng nhân viên, cán bộ, đại lý, tư vấn
            hoặc các bên thứ ba khác được nêu ở trên tham
            gia vào việc thu thập, xử lý và cung cấp thông tin cá
            nhân hiểu rõ tầm quan trọng và tuân thủ Chính sách
            Bảo Mật Thông Tin này.</span></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.25in;
    text-align:justify;text-justify:inter-ideograph;background:white"><span style="font-size:14.0pt">Việc cung cấp
            thông tin cá nhân cho các
            nhà thầu phụ sẽ được thực hiện
            trên cơ sở hợp đồng nhằm đảm
            bảo thông tin được bảo vệ ở mức
            phù hợp với Chính sách Bảo Mật Thông Tin này và pháp
            luật hiện hành.</span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">VIII. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Quyền của Khách hàng đối với các Thông tin
                cá nhân được thu thập </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Bất kỳ
            Khách hàng nào tự nguyện cung cấp Thông tin cá nhân cho Đường
            sắt Việt Nam đều có các quyền như sau: </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">a. Yêu cầu
            xem lại các thông tin được thu thập; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">b. Yêu cầu
            sao chép lại các thông tin được thu thập; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">c. Yêu cầu
            chỉnh sửa, bổ sung thông tin được thu thập:
            Khách hàng có thể thực hiện thông qua hệ thống hỗ
            trợ khách hàng của chúng tôi, điện thoại
            đường dây nóng 19006469 hoặc Tổng đài hỗ
            trợ khách hàng khu vực miền Bắc: 1900 0109, khu vực
            miền Nam: 1900 1520; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">d. Yêu cầu
            dừng việc thu thập thông tin; </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">e. Yêu cầu
            xóa các thông tin đã được thu thập. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">f. Khách hàng
            có thể thực hiện các quyền trên bằng cách gọi
            đến tổng đài hỗ trợ khách hàng hoặc
            liên hệ với chúng tôi qua email (<span class="MsoHyperlink">hanhchinh@vr.com.vn;</span>
        </span><a href="mailto:cntttk.khn@gmail.com"><span style="font-size:14.0pt;
    line-height:107%">cntttk.khn@gmail.com</span></a><span class="MsoHyperlink">;</span><span
            style="font-size:14.0pt;line-height:107%"> </span><a href="mailto:cntt-tk@saigonrailway.vn"><span style="font-size:14.0pt;
    line-height:107%">cntt-tk@saigonrailway.vn</span></a><span style="font-size:
    14.0pt;line-height:107%">) hoặc địa chỉ liên lạc
            được công bố trên website của Đường
            sắt Việt Nam. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">g. Trường
            hợp Khách hàng cung cấp cho Đường sắt Việt
            Nam các Thông tin cá nhân không chính xác hoặc không đầy
            đủ để xác nhận được nhân thân Khách
            hàng, chúng tôi không thể bảo vệ được quyền
            bảo mật của Khách hàng theo quy định trên. </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">IX. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Việc sử dụng Cookies trên website của
                Đường sắt Việt Nam </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Cookies chỉ
            được Đường sắt Việt Nam sử dụng
            để lưu lại trạng thái về Ngôn ngữ và Thị
            trường trong lần truy cập cuối cùng của
            Khách hàng tại máy tính truy cập nhằm mục đích trả
            lại trạng thái này cho Khách hàng khi truy cập lần sau.
        </span></p>

    <p class="MsoListParagraph" style="margin-left:.75in;text-align:justify;
    text-justify:inter-ideograph;text-indent:-.5in"><b><span style="font-size:14.0pt;
    line-height:107%">X. </span></b><b><span style="font-size:14.0pt;line-height:
    107%">Việc cập nhật và ngôn ngữ của Chính sách bảo
                mật </span></b></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Đường
            sắt Việt Nam sẽ chỉnh sửa Chính sách bảo mật
            này vào bất kỳ thời điểm nào khi cần thiết,
            bản Chính sách bảo mật cập nhật sẽ
            được công bố trên website của chúng tôi và sẽ
            được ghi ngày để Khách hàng nhận biết
            được bản mới nhất. Theo quy định
            pháp luật, ngôn ngữ được ưu tiên sử dụng
            và tham chiếu là tiếng Việt. Trong trường hợp
            có sự mâu thuẫn trong cách giải thích giữa bản tiếng
            Việt và các ngôn ngữ khác thì bản tiếng Việt sẽ
            được ưu tiên tham chiếu. </span></p>

    <p class="MsoNormal" style="margin-left:.25in;text-align:justify;text-justify:
    inter-ideograph"><span style="font-size:14.0pt;line-height:107%">Chính sách bảo
            mật này được cập nhật đến ngày 31
            tháng 12 năm 2014.<a name="_GoBack"></a> </span></p>

</div>