
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}


a {
    background: 0 0
}

a:active,a:hover {
    outline: 0
}

b,strong {
    font-weight: 700
}



img {
    border: 0
}



button {
    -webkit-appearance: button;
    cursor: pointer
}



table {
    border-collapse: collapse;
    border-spacing: 0
}

td,th {
    padding: 0
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #2fa4e7;
    text-decoration: none
}

a:focus,a:hover {
    color: #157ab5;
    text-decoration: underline
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

/* figure {
    margin: 0
} */

img {
    vertical-align: middle
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.sr-only-focusable:active,.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #317eac
}

.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

.h2,.h3,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h2 .small,.h2 small,.h3 .small,.h3 small,h2 .small,h2 small,h3 .small,h3 small {
    font-size: 65%
}

.h4,.h5,h4,h5 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h4 .small,.h4 small,.h5 .small,.h5 small,h4 .small,h4 small,h5 .small,h5 small {
    font-size: 75%
}

/* .h1,h1 {
    font-size: 36px
} */

.h2,h2 {
    font-size: 30px
}

.h3,h3 {
    font-size: 24px
}

.h4,h4 {
    font-size: 18px
}

.h5,h5 {
    font-size: 14px
}



p {
    margin: 0 0 10px
}



.small,small {
    font-size: 85%
}



.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-muted {
    color: #999
}

.text-primary {
    color: #2fa4e7
}

a.text-primary:hover {
    color: #178acc
}

.text-success {
    color: #468847
}

a.text-success:hover {
    color: #356635
}

.text-info {
    color: #3a87ad
}

a.text-info:hover {
    color: #2d6987
}

.text-warning {
    color: #c09853
}

a.text-warning:hover {
    color: #a47e3c
}

.text-danger {
    color: #b94a48
}

a.text-danger:hover {
    color: #953b39
}



.container,.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}



@media (min-width: 768px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9 {
        float:left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-11 {
        width: 91.66666667%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-8 {
        width: 66.66666667%
    }

    .col-sm-7 {
        width: 58.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-5 {
        width: 41.66666667%
    }

    .col-sm-4 {
        width: 33.33333333%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-2 {
        width: 16.66666667%
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    
}

@media (min-width: 992px) {
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9 {
        float:left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-11 {
        width: 91.66666667%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }

    
}

@media (min-width: 1200px) {
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9 {
        float:left
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-11 {
        width: 91.66666667%
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-8 {
        width: 66.66666667%
    }

    .col-lg-7 {
        width: 58.33333333%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-5 {
        width: 41.66666667%
    }

    .col-lg-4 {
        width: 33.33333333%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-2 {
        width: 16.66666667%
    }

    .col-lg-1 {
        width: 8.33333333%
    }

   
}



.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #2fa4e7;
    border-radius: 10px
}

.badge:empty {
    display: none
}



.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

.close:focus,.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0,-25%,0);
    transform: translate3d(0,-25%,0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0
}


.et-flip-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}
.et-sit-no[data-bs-toggle="tooltip"] {
    position: relative;
}

.et-sit-no[data-bs-toggle="tooltip"]:hover::before {
    content: attr(title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #fff;
    color: #000;
    font-size: 17px;
    border-radius: 3px;
    white-space: nowrap;
    box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 1);
}

.et-sit-no[data-bs-toggle="tooltip"]:hover::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
}

.fa{
    font-size: 27px;
}
/* .modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50)
} */

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 20px
}

.modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width:600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width:900px
    }
}



.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
    content: " ";
    display: table
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
    clear: both
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}



@-ms-viewport {
    width: device-width
}



body {
    background-color: #f0f1f3;
    font-family: Verdana!important
}

a {
    cursor: pointer
}

body,html {
    height: 100%;
    margin: 0;
    padding: 0
}



.et-no-padding {
    padding: 0!important
}

.et-no-margin {
    margin: 0 10px 0 6px!important;
    width: 95%
}


.et-train-selected {
    color: #0082c2;
    border: 1px solid #f7f7f7!important;
    box-shadow: 1px 2px 1px #d3d3d3
}

.et-train-selected>div {
    background-color: #fff!important
}

.et-train-selected>div:first-child {
    background-color: #dfeffc!important
}



.et-flip-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}



h5 {
    color: #e55a05!important;
    font-weight: 700!important
}



.et-car-block {
    width: 50px!important;
    height: 50px;
    min-height: 1px;
    cursor: pointer;
    display: inline-block;
    float: none
}

.et-car-icon {
    margin: 0 1px 10px;
    border-radius: 15%;
    height: 18px;
    overflow: visible
}

.et-car-icon img {
    width: 100%;
    height: 130%
}

.et-car-icon-avaiable {
    background-color: #80b5d6
}

.et-car-icon-full {
    background-color: #ccc
}

.et-car-icon-sold-out {
    background-color: #df5327
}

.et-car-icon-selected {
    background-color: #a6b727
}

.et-car-icon-avaiable:hover {
    -webkit-filter: saturate(1.8)
}

.et-car-label {
    font-size: 10px
}

.et-car-loading {
    position: absolute;
    margin-top: 50px;
    left: 0
}

.et-car-floor-region {
    margin-bottom: 20px
}

.et-car-floor-region h6 {
    font-size: 13px;
    font-weight: 700
}

.et-car-floor {
    border-radius: 10px;
    border: 3px solid #385d8a;
    margin: 0;
    padding: 5px 10px;
    height: 176px
}

.et-car-next-floor {
    width: 100%;
    border-left: 3px solid #385d8a;
    border-top: 3px solid #385d8a;
    border-bottom: 3px solid #385d8a;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 176px;
    float: left;
    line-height: 176px;
    cursor: pointer
}

.et-car-next-floor:hover {
    font-weight: 700
}

.et-car-previous-floor {
    width: 100%;
    border-right: 3px solid #385d8a;
    border-top: 3px solid #385d8a;
    border-bottom: 3px solid #385d8a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 176px;
    float: left;
    line-height: 176px;
    cursor: pointer
}

.et-car-previous-floor:hover {
    font-weight: 700
}

.et-car-nm-64-half-block {
    width: 47%;
    float: left;
    min-height: 1px
}

.et-car-nm-64-sit {
    width: 12.5%;
    float: left;
    min-height: 1px;
    height: 35px;
    padding: 0 2px;
    line-height: 30px
}

.et-car-door {
    width: 1%;
    float: left;
    border-radius: 10px;
    height: 158px
}

.et-car-way {
    height: 20px;
    float: left
}

.et-car-seperator {
    width: 4%;
    float: left;
    height: 158px;
    padding: 0 5px
}

.et-car-seperator>div {
    height: 69px;
    width: 100%;
    background-color: #888;
    border-radius: 5px
}

.et-car-seperator>div:first-child {
    margin-bottom: 32px;
    margin-top: -5px
}

.et-sit-side {
    height: 100%;
    background-color: #948a54;
    border-radius: 2px
}

.et-sit-sur-outer {
    height: 100%;
    padding: 2px 2px 2px 0
}

.et-sit-sur-outer-invert {
    height: 100%;
    padding: 2px 0 2px 2px
}

.et-sit-sur {
    height: 100%;
    border-radius: 5px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    line-height: inherit;
    font-size: 1em
}

.et-sit-sur-invert {
    height: 100%;
    border-radius: 5px;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
    line-height: inherit;
    font-size: 1em
}

.et-sit-avaiable {
    background-color: #fff;
    cursor: pointer
}

.et-sit-avaiable:hover {
    font-weight: 700
}

.et-sit-booked {
    background-color: #df5327;
    color: #fff
}

.et-sit-booked .popover h3 {
    color: #df5327
}

.et-sit-booked .popover div {
    color: #555
}
.et-sit-bought {
    background-color: #df5327;
    color: #fff;
    cursor: not-allowed;
}

.et-sit-bought .popover h3 {
    color: #df5327
}

.et-sit-bought .popover div {
    color: #555
}

.et-sit-buying {
    background-color: #a6b727;
    color: #fff;
    cursor: pointer
}

.et-sit-buying:hover {
    font-weight: 700
}

.et-sit-buying .popover-content {
    color: #555
}

.et-sit-longer {
    background-color: #3578bd;
    color: #fff
}

.et-sit-longer .popover h3 {
    color: #3578bd
}

.et-sit-longer .popover div {
    color: #555
}

.et-sit-blocked {
    background-color: #df5327;
    color: #fff;
    cursor: not-allowed;

}
.et-flip-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"
}


.et-sit-blocked .popover h3 {
    color: #df5327
}

.et-sit-blocked .popover div {
    color: #555
}
.et-sit-blocked1 {
    background-color: #a6b727;
    color: #fff;
    cursor: not-allowed;
}

.et-sit-blocked1 .popover h3 {
    color: #df5327
}

.et-sit-blocked1 .popover div {
    color: #555
}

.et-sit-distancing {
    background-color: #a7a7a7;
    color: #5f5f5f
}

.et-sit-distancing .popover h3 {
    color: #df5327
}

.et-sit-distancing .popover div {
    color: #555
}

.et-bed-way {
    height: 40px;
    line-height: 40px
}

.et-bed-left {
    border-left: 3px solid #385d8a;
    height: 40px
}

.et-bed-right {
    border-right: 3px solid #385d8a;
    height: 40px
}

.et-bed-full {
    border-left: 3px solid #385d8a;
    border-right: 3px solid #385d8a;
    height: 60px
}

.et-bed-left .et-bed-outer {
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 10px;
    height: 100%
}

.et-bed-right .et-bed-outer {
    padding-left: 2px;
    padding-top: 3px;
    padding-bottom: 10px;
    height: 100%
}

.et-bed {
    height: 100%;
    margin: 0 4px -8px;
    border-radius: 5px;
    border: 1px solid #888;
    line-height: 25px
}

.et-bed-full .et-bed {
    line-height: 56px
}

.et-bed-illu {
    border-bottom: 3px solid #385d8a;
    border-left: 3px solid #385d8a;
    border-right: 3px solid #385d8a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 10px;
    line-height: 30px
}

.et-sit-no img {
    width: 100%
}

.et-car-nc-80-sit-outer {
    height: 100%;
    padding: 2px 0
}

.et-car-nc-80-sit-sur {
    line-height: 32px
}

.et-car-nc-80-sit-left .et-car-nc-80-sit-sur {
    width: 100%;
    height: 100%;
    border-right: 1px solid #888;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-radius: 5px
}

.et-car-nc-80-sit-right .et-car-nc-80-sit-sur {
    width: 100%;
    height: 100%;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-radius: 5px
}

.et-car-nc-80-sit-left {
    height: 35px;
    padding-right: 5px;
    padding-left: 1px
}

.et-car-nc-80-sit-right {
    height: 35px;
    padding-left: 5px;
    padding-right: 1px
}

.et-car-floor-full-height {
    height: 158px
}

.et-legend .row {
    margin-top: 5px
}

.et-legend-label {
    height: 45px;
    line-height: 45px;
    margin-left: -30px
}

.et-no-col-margin {
    margin-left: -30px
}

.et-col-50 {
    width: 50%;
    float: left;
    display: block;
    min-height: 1px
}

.et-col-16 {
    width: 16%;
    float: left;
    min-height: 1px
}

.et-col-84 {
    width: 84%;
    float: left;
    min-height: 1px
}

.et-col-64 {
    width: 64%;
    float: left;
    min-height: 1px
}

.et-col-97 {
    width: 97%;
    float: left;
    min-height: 1px
}

.et-col-96 {
    width: 96%;
    float: left;
    min-height: 1px
}

.et-col-94 {
    width: 94%;
    float: left;
    min-height: 1px
}

.et-col-90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.et-col-100 {
    width: 100%;
    float: left;
    min-height: 1px
}

.et-col-2 {
    width: 2%;
    float: left;
    min-height: 1px;
    padding: 0 5px
}

.et-col-3 {
    width: 2%;
    float: left;
    min-height: 1px;
    padding: 0 10px
}
.shopping-cart-icon {
    position: relative;
    margin-right: 20px;
}

.badge-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(17, 223, 51);
    color: white;
    font-size: 12px;
    padding: 4px;
    border-radius: 50%;
}
.et-col-1-9 {
    width: 11.11111111%;
    float: left;
    min-height: 1px
}

.et-col-8-9 {
    width: 86.88888889%;
    float: left;
    min-height: 1px
}

.et-col-1-8 {
    width: 12.5%;
    float: left;
    min-height: 1px
}

.et-col-1-16 {
    width: 6.25%;
    float: left;
    min-height: 1px
}

.et-col-1-18 {
    width: 6.55555556%;
    float: left;
    min-height: 1px
}

.et-col-5 {
    width: 5%;
    float: left;
    min-height: 1px;
    padding: 0 10px
}

.et-col-1-20 {
    width: 5%;
    float: left;
    min-height: 1px
}

.et-col-2-20 {
    width: 10%;
    float: left;
    min-height: 1px
}

.et-col-3-20 {
    width: 15%;
    float: left;
    min-height: 1px
}

.et-col-1-23 {
    width: 4.34782609%;
    float: left;
    min-height: 1px
}

.et-col-1-26 {
    width: 3.84615385%;
    float: left;
    min-height: 1px
}

.et-col-1-30 {
    width: 3.33333333%;
    float: left;
    min-height: 1px
}

.et-col-4-23 {
    width: 17.39130435%;
    float: left;
    min-height: 1px
}

.et-col-1-35 {
    width: 2.85714286%;
    float: left;
    min-height: 1px
}

.et-col-1-35 .et-car-seat-left {
    padding: 0
}

.et-col-1-35 .et-sit-no {
    font-size: 11px
}

.et-col-1-35 .et-sit-sur-outer {
    padding: 0
}

.et-hidden {
    visibility: hidden
}

.et-text-sm {
    font-size: 8px
}

.et-text-md-sm {
    font-size: 10px
}

.et-text-md {
    font-size: 12px
}

.et-text-large {
    font-size: 1.5em
}

.et-full-width {
    width: 99%
}

.et-next-train,.et-pre-train {
    cursor: pointer;
    vertical-align: middle;
    padding-top: 50px
}

.et-train-list {
    margin-bottom: 20px
}



.et-arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #98c4f5;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto
}

.et-arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #98c4f5;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto
}

.et-arrow-disabled {
    pointer-events: none
}

.et-arrow-disabled .et-arrow-left {
    border-right: 15px solid #eee!important
}

.et-arrow-disabled .et-arrow-right {
    border-left: 15px solid #eee!important
}

.et-col-md-1 {
    width: 8.33333333%
}

.et-col-md-2 {
    width: 16.66666667%
}

.et-col-md-3 {
    width: 25%
}

.et-col-md-4 {
    width: 33.33333333%
}

.et-col-md-5 {
    width: 41.66666667%
}

.et-col-md-6 {
    width: 50%
}

.et-col-md-7 {
    width: 58.33333333%
}

.et-col-md-8 {
    width: 66.66666667%
}

.et-col-md-9 {
    width: 75%
}

.et-col-md-10 {
    width: 83.33333333%
}

.et-col-md-11 {
    width: 91.66666667%
}

.et-col-md-12 {
    width: 100%
}

.et-col-md-1,.et-col-md-10,.et-col-md-11,.et-col-md-12,.et-col-md-2,.et-col-md-3,.et-col-md-4,.et-col-md-5,.et-col-md-6,.et-col-md-7,.et-col-md-8,.et-col-md-9 {
    position: relative;
    min-height: 1px;
    float: left;
    display: block;
    padding-left: 15px;
    padding-right: 15px
}

/* .et-1024 {
    width: 1024px
} */

.et-train-block {
    padding-left: 5px;
    padding-right: 5px;
    height: 140px;
    cursor: pointer;
    width: 140px!important;
    display: inline-block!important;
    float: none!important
}

.et-train-block.et-train-block-none {
    display: none!important
}

.et-train-head {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background-color: #999;
    padding: 0 5px;
    position: absolute;
    z-index: 99
}

.et-train-head-selected {
    background-color: #0091d4
}

.et-train-head-info {
    height: 70px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #fff;
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px
}

.et-train-lamp {
    line-height: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    width: 100%;
    margin: 0 auto
}

.et-train-lamp-bellow-left {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: block;
    margin-right: 15px;
    margin-top: 3px;
    float: right
}

.et-train-lamp-bellow-right {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    display: block;
    margin-left: 15px;
    margin-top: 3px
}

.et-train-block:hover .et-train-lamp,.et-train-block:hover .et-train-lamp-bellow-left,.et-train-block:hover .et-train-lamp-bellow-right {
    background-color: #fec306
}

.et-train-base {
    height: 0;
    width: 0;
    border-bottom: 62px solid #000;
    border-left: 62px solid transparent;
    border-right: 62px solid transparent;
    position: absolute;
    margin-top: 80px;
    z-index: 1;
    margin-left: -2px
}

.et-train-base-2 {
    height: 0;
    width: 0;
    border-bottom: 42px solid #fff;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    position: absolute;
    margin-top: 95px;
    margin-left: 18px;
    z-index: 2
}

.et-train-base-3 {
    height: 0;
    width: 0;
    border-bottom: 42px solid #000;
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    position: absolute;
    margin-top: 90px;
    margin-left: 18px;
    z-index: 3
}

.et-train-base-4 {
    height: 0;
    width: 0;
    border-bottom: 32px solid #fff;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    position: absolute;
    margin-top: 95px;
    margin-left: 28px;
    z-index: 4
}

.et-train-base-5 {
    height: 0;
    width: 0;
    border-bottom: 32px solid #000;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    position: absolute;
    margin-top: 90px;
    margin-left: 28px;
    z-index: 5
}

.et-bold {
    font-weight: 700
}

.et-direct-block input[type=radio] {
    vertical-align: top;
    margin: 2px 0
}

.et-direct-block span {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: top
}

.et-ticket-warning {
    position: absolute;
    left: 0;
    margin-left: -25px;
    margin-top: -25px
}

.et-car-table-half-top {
    padding: 20px 5px 0;
    height: 35px;
    width: 100%
}

.et-car-table-half-top>div {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #999;
    height: 100%;
    width: 100%
}

.et-car-table-half-bottom {
    padding: 0 5px 20px;
    height: 35px;
    width: 100%
}

.et-car-table-half-bottom>div {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #999;
    height: 100%;
    width: 100%
}

.et-car-wall-top {
    padding: 0 10px
}

.et-car-wall-top>div {
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    width: 100%;
    height: 40px;
    margin-top: -5px;
    background-color: #eee
}

.et-car-wall-bottom {
    padding: 0 10px
}

.et-car-wall-bottom>div {
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    width: 100%;
    height: 40px;
    margin-bottom: -5px;
    background-color: #eee
}

.et-car-space {
    height: 35px
}

.et-car-seat-left,.et-car-seat-right {
    width: 100%;
    float: left;
    height: inherit;
    padding: 0 2px
}

.et-car-2nd-floor .et-car-floor {
    margin-top: 5px
}

.et-car-notice-board {
    margin-top: 15px;
    margin-right: 2px;
    height: 70px;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 5px
}

.et-car-space .et-car-notice-icon {
    margin-top: 20px
}

.et-car-right-room {
    border-left: 1px solid #999
}

.et-car-left-room {
    border-right: 1px solid #999
}

.et-seat-h-35 {
    height: 35px;
    line-height: 30px
}

.et-seat-h-60 {
    height: 60px;
    line-height: 55px
}

.et-seat-h-27 {
    height: 27px;
    line-height: 20px
}

.et-padding-right-30 {
    padding-right: 30px
}

.et-ahead-clear {
    position: absolute;
    left: -10px;
    margin-top: 5px
}

table th {
    text-align: center
}

.table-borderless>tbody>tr>td,.table-borderless>tbody>tr>th,.table-borderless>tfoot>tr>td,.table-borderless>tfoot>tr>th,.table-borderless>thead>tr>td,.table-borderless>thead>tr>th {
    border: none
}

.form-control[readonly] {
    cursor: default;
    background-color: #fff
}

.form-control[disabled] {
    cursor: not-allowed;
    background-color: #eee
}



.train-group {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    float: left;
    margin-left: 10px
}


button {
    margin-top: 10px;
    overflow: visible;
    border-radius: 10px;
    color: #f4fafc;
    background-color: #0082c0;
    height: 30px;
    border: none;
  }
  .selected {
  background-color: red;
}


  button:hover{
    background-color: rgb(244, 232, 11);
    color: #000;
    
  }

.next-train,.previous-train {
    display: none!important
}



@media (max-width: 767px) {
    .et-no-margin {
        overflow-x:auto;
        white-space: nowrap
    }

    .img {
        height: auto!important
    }

   

    .et-sit-no {
        font-size: 10px!important
    }

    .et-car-floor-full-height {
        height: 145px!important
    }

    .et-car-door {
        height: 10px
    }

   
    .et-car-nm-64-half-block {
        width: 305px;
        display: inline-block;
        float: none;
        margin-top: 5px
    }

    .et-full-width {
        width: 100%;
        height: 39px
    }

    .et-car-nm-64-sit {
        height: 30px;
        width: 38px
    }

    .et-col-1-16 {
        width: 39px!important
    }

    .et-car-seat-left,.et-car-seat-right {
        width: 114%
    }

    .et-car-floor {
        overflow-x: auto;
        white-space: nowrap;
        height: 200px;
        margin-left: 0!important
    }

    .et-bed-way,.et-bed-way-full {
        height: 27px
    }

    .et-col-1-18 {
        width: 13.888889%
    }

    .et-col-8-9 {
        width: 660px;
        height: 140px
    }

    .et-col-1-20 {
        width: 40px
    }

    .et-col-1-18,.et-col-8-9 {
        display: inline-block;
        float: none
    }

    .train-group {
        width: 98%!important;
        margin-left: 2px!important
    }

    .fix-width {
        width: 189%
    }

    .et-col-1-21 {
        width: 10%
    }

    .et-bed-way {
        height: 38px
    }

    .list-group-item-text {
        font-size: 12px
    }

    .badge {
        font-size: 11px
    }

    .et-col-5 {
        width: 1%!important
    }

    .et-col-90 {
        width: 89%!important
    }

    .et-car-next-floor,.et-car-previous-floor {
        display: none
    }

    .et-car-seperator>div:first-child {
        margin-bottom: 16px;
        margin-top: -3px
    }

    .et-car-seperator {
        width: 7%;
        display: inline-block;
        float: none;
        margin-left: 5px;
        height: 139px
    }

    .et-car-seperator>div {
        height: 67px
    }

    .next-train,.previous-train {
        display: none!important
    }

  

    .et-train-head {
        width: 126px!important
    }

    .et-train-head-info {
        padding-right: 8px!important
    }

    .et-train-lamp-bellow-left {
        margin-right: 26px!important
    }

    .et-main-content {
        width: 100%!important
    }

    .et-main-label {
        background-image: none!important;
        padding-right: 10px!important;
        margin-right: 5px!important
    }

    .et-car-floor-region {
        clear: both!important;
        margin-top: 0!important
    }

    
}

@media (min-width: 768px) and (max-width:992px) {
    .et-car-floor-region {
        clear:both!important
    }

    .next-train,.previous-train {
        display: none!important
    }

   
    .et-sit-no {
        font-size: 11px!important
    }

    .et-col-5 {
        display: none!important
    }

    .et-col-90 {
        width: 89%!important;
        margin-left: 35px!important
    }

    .container-fluid {
        background-color: #2fa4e7
    }

}

@media (min-width: 992px) and (max-width:1199px) {
   

    .et-col-5 {
        width: 5%!important
    }

    .et-col-90 {
        width: 90%!important
    }
}

@media (min-width: 1200px) {
    .et-col-5 {
        width:5%!important
    }

    .et-col-90 {
        width: 90%!important
    }
}
