<div class="WordSection1">

    <p class="MsoNormal" align="center" style="text-align:center">
        <b>
            <span style="line-height:107%;color:red">
                Các Điều Kiện &amp; Điều
                Khoản
            </span>
        </b>
    </p>

    <p class="MsoNormal" align="center" style="text-align:center">
        <a name="QuyDinhVanChuyen">
            <b>
                <span style="font-size:14.0pt;line-height:107%">
                    ***Quy
                    định vận chuyển***
                </span>
            </b>
        </a>
    </p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
        <span style="font-size:14.0pt;line-height:107%">
            Quy định về vận
            tải hành khách, hành lý trên đường sắt quốc
            gia và đường sắt chuyên dùng có nối ray với
            đường sắt quốc gia được
            Đường sắt Việt Nam thực hiện theo Thông
            tư số 09/2018/TT-BGTVT ngày 02 tháng 3 năm 2018 của Bộ
            Giao thông vận tải. Chi tiết
        </span><a href="https://dsvn.vn/images/9_QuyDinhVanChuyen.Signed.pdf" target="_parent">
            <span style="font-size:14.0pt;line-height:107%">tại đây</span>
        </a><span style="font-size:14.0pt;line-height:107%">.</span>
    </p>

<p style="font-family: 'time new romain';font-size: 18.8px;line-height: 20px;">
<span>Hướng
dẫn thực hiện Quy định về việc vận
tải hành khách, hành lý trên đường sắt quốc
gia và đường sắt chuyên dùng có nối ray với
đường sắt quốc gia theo Thông tư số
09/2018/TT-BGTVT ngày 02 tháng 3 năm 2018 của Bộ Giao thông vận
tải.</span>
    Chi tiết <a href="https://dsvn.vn/images/2018_06_25_460_QD_HuongDanThongTu09.pdf" target="_parent">tại đây</a>.
</p>

<p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

</div>