<div class="WordSection1">

    <p class="MsoNormal" align="center" style="text-align:center"><b><span style="line-height:107%;color:red">Các Điều
                Kiện &amp; Điều
                Khoản</span></b></p>

    <p class="MsoNormal" align="center" style="text-align:center"><a name="DieuKhoanSuDung"><b><span
                    style="font-size:14.0pt;line-height:107%">***Điều
                    khoản sử dụng website dsvn.vn</span></b></a><b><span
                style="font-size:14.0pt;line-height:107%">***</span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><b><span
                style="font-size:14.0pt;line-height:107%">WEBSITE NÀY THUỘC QUYỀN SỞ
                HỮU VÀ QUẢN LÝ CỦA TỔNG CÔNG TY ĐƯỜNG SẮT
                VIỆT NAM (Đường sắt Việt Nam). KHI TRUY CẬP,
                SỬ DỤNG WEBSITE NÀY, QUÝ KHÁCH ĐÃ MẶC NHIÊN ĐỒNG
                Ý VỚI CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN
                ĐỀ RA Ở ĐÂY. DO VẬY ĐỀ NGHỊ QUÝ
                KHÁCH ĐỌC VÀ NGHIÊN CỨU KỸ TRƯỚC KHI SỬ
                DỤNG TIẾP</span></b></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt;
        color:#333333">1.<span style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;color:#333333">Chấp
                thuận các Điều kiện Sử dụng </span></b></p>

    <p style="text-align:justify;text-justify:inter-ideograph;text-indent:.25in;
        background:white"><span style="font-size:14.0pt;color:#333333">Khi sử
            dụng Website Thương mại Điện tử
            của Đường sắt Việt Nam (sau đây
            gọi tắt là “Website”), Quý khách đã mặc nhiên chấp
            thuận các điều khoản và điều kiện
            sử dụng (sau đây gọi tắt là “Điều kiện
            Sử dụng”) được quy định dưới
            đây. Để biết được các sửa
            đổi mới nhất, Quý khách nên thường xuyên
            kiểm tra lại “Điều kiện Sử dụng”. Đường
            sắt Việt Nam có quyền thay đổi, điều
            chỉnh, thêm hay bớt các nội dung của “Điều
            kiện Sử dụng” tại bất kỳ thời
            điểm nào. Nếu Quý khách vẫn tiếp tục
            sử dụng Website sau khi có các thay đổi như
            vậy thì có nghĩa là Quý khách đã chấp thuận các
            thay đổi đó. </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt;
        color:#333333">2.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><b><span style="font-size:14.0pt;color:#333333">Tính
                chất của thông tin hiển thị </span></b></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;
        text-align:justify;text-justify:inter-ideograph;text-indent:.25in;background:
        white"><span style="font-size:14.0pt;color:#333333">Các nội dung
            hiển thị trên Website nhằm mục đích cung cấp
            thông tin về Đường sắt Việt Nam, về
            dịch vụ vận chuyển hành khách, hành lý và hàng hóa,
            dịch vụ khách sạn, cũng như các dịch vụ
            khác do đối tác của Đường sắt Việt
            Namvề du lịch, lữ hành, ... cung cấp (sau đây
            được gọi chung là “Nhà Cung Cấp”). </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt">3.<span
                    style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
                style="font-size:14.0pt;color:#333333">Liên</span></b><b><span style="font-size:14.0pt"> kết đến Website
                khác </span></b></p>

    <p style="text-align:justify;text-justify:inter-ideograph;text-indent:.25in;
        background:white"><span style="font-size:14.0pt">Website cung cấp
            một số liên kết tới trang Web hoặc nguồn
            dữ liệu khác. Quý khách tự chịu trách nhiệm khi
            sử dụng các liên kết này. Đường sắt
            Việt Nam không tiến hành thẩm định hay xác
            thực nội dung, tính chính xác, quan điểm thể
            hiện tại các trang Web và nguồn dữ liệu liên
            kết này. Đường sắt Việt Nam từ
            chối bất cứ trách nhiệm pháp lý nào liên quan tới
            tính chính xác, nội dung thể hiện, mức độ
            an toàn và việc cho hiển thị hay che đi các thông tin
            trên các trang Web và nguồn dữ liệu nói trên. </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt">4.<span
                    style="font:7.0pt">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
                style="font-size:14.0pt;color:#333333">Liên kết từ Website khác </span></b></p>

    <p style="text-align:justify;text-justify:inter-ideograph;text-indent:.25in;
        background:white"><span style="font-size:14.0pt;color:#333333">Đường
            sắt Việt Nam không cho phép bất kỳ nhà cung cấp</span><span style="font-size:14.0pt"> dịch vụ internet nào
            được
            phép “đặt toàn bộ” hay “nhúng” bất kỳ thành
            tố nào của Website này sang một trang khác hoặc
            sử dụng các kỹ thuật làm thay đổi giao
            diện / hiển thị mặc định của Website. </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt">5.<span
                    style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
                style="font-size:14.0pt">MIỄN TRỪ TRÁCH NHIỆM </span></b></p>

    <p style="text-align:justify;text-justify:inter-ideograph;background:white"><span style="font-size:14.0pt">THÔNG TIN
            HIỂN THỊ TẠI WEBSITE NÀY
            KHÔNG ĐI KÈM BẤT KỲ ĐẢM BẢO HAY CAM KẾT
            TRÁCH NHIỆM DƯỚI BẤT KỲ HÌNH THỨC NÀO
            TỪ PHÍA ĐƯỜNG SẮT VIỆT NAM HAY NHÀ CUNG
            CẤP KHÁC, CHÍNH THỨC HAY HÀM Ý, BAO GỒM NHƯNG KHÔNG
            GIỚI HẠN VỀ SỰ PHÙ HỢP CỦA SẢN
            PHẨM, DỊCH VỤ MÀ NGƯỜI MUA ĐÃ LỰA
            CHỌN. ĐƯỜNG SẮT VIỆT NAM VÀ CÁC NHÀ CUNG
            CẤP KHÁC CŨNG TỪ CHỐI TRÁCH NHIỆM HAY
            ĐƯA RA ĐẢM BẢO RẰNG WEBSITE SẼ KHÔNG CÓ
            LỖI VẬN HÀNH, AN TOÀN, KHÔNG BỊ GIÁN ĐOẠN HAY
            BẤT CỨ ĐẢM BẢO NÀO VỀ TÍNH CHÍNH XÁC,
            ĐẦY ĐỦ VÀ ĐÚNG HẠN CỦA CÁC THÔNG TIN
            HIỂN THỊ. KHI TRUY CẬP VÀO WEBSITE NÀY, QUÝ KHÁCH MẶC
            NHIÊN ĐỒNG Ý RẰNG ĐƯỜNG SẮT VIỆT
            NAM, CÙNG VỚI ĐỐI TÁC KHÁC, VIÊN CHỨC, CÁN BỘ
            QUẢN LÝ VÀ NGƯỜI ĐẠI DIỆN CỦA HỌ
            KHÔNG CHỊU BẤT CỨ TRÁCH NHIỆM NÀO LIÊN QUAN
            ĐẾN THƯƠNG TẬT, MẤT MÁT, KHIẾU
            KIỆN, THIỆT HẠI TRỰC TIẾP HOẶC THIỆT
            HẠI GIÁN TIẾP DO KHÔNG LƯỜNG TRƯỚC HOẶC
            DO HẬU QUẢ ĐỂ LẠI DƯỚI BẤT
            KỲ HÌNH THỨC NÀO PHÁT SINH TỪ HAY CÓ LIÊN QUAN ĐẾN
            VIỆC: (1) SỬ DỤNG CÁC THÔNG TIN TRÊN WEBSITE NÀY; (2) CÁC
            TRUY CẬP KẾT NỐI TỪ WEBSITE NÀY;(3) ĐĂNG KÝ
            THÀNH VIÊN, ĐĂNG KÝ NHẬN THƯ ĐIỆN TỬ HAY
            THAM GIA VÀO CHƯƠNG TRÌNH KHUYẾN MẠI CỦA ĐƯỜNG
            SẮT VIỆT NAM; (4) ĐƯỜNG SẮT VIỆT NAM HAY
            MỘT NHÀ CUNG CẤP NÀO ĐÓ CÓ THỰC HIỆN VIỆC
            CUNG CẤP DỊCH VỤ HAY KHÔNG THẬM CHÍ TRONG
            TRƯỜNG HỢP ĐƯỜNG SẮT VIỆT NAM HAY
            NHÀ CUNG CẤP ĐÓ ĐÃ ĐƯỢC CẢNH BÁO VỀ
            KHẢ NĂNG XẢY RA THIỆT HẠI; VÀ (5) CÁC HẠN
            CHẾ LIÊN QUAN ĐẾN ĐẶT CHỖ TRỰC
            TUYẾN MÔ TẢ TẠI ĐÂY. Các điều kiện và
            hạn chế nêu trên chỉ có hiệu lực trong khuôn
            khổ pháp luật hiện hành. </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt">6.<span
                    style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
                style="font-size:14.0pt">Quyền sở hữu trí tuệ </span></b></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
        text-indent:.25in"><span style="font-size:14.0pt;line-height:107%">Website này
            và mọi nội dung xếp đặt, hiển thị
            đều thuộc sở hữu và là tài sản độc
            quyền khai thác của Đường sắt Việt Nam
            và các nhà cung cấp là đối tác kinh doanh của Đường
            sắt Việt Nam. Mọi sử dụng, trích dẫn phải
            không gây thiệt hại cho Đường sắt Việt
            Nam và đều phải tuân thủ các điều kiện
            sau: (1) Chỉ sử dụng cho mục đích cá nhân, phi
            thương mại; (2) các sao chép hoặc trích dẫn đều
            phải giữ nguyên dấu hiệu bản quyền hoặc
            các yết thị về quyền sở hữu trí tuệ
            như đã thể hiện trong phiên bản gốc; và (3) mọi
            sản phẩm, công nghệ hay quy trình được sử
            dụng hay hiển thị tại Website này đều có thể
            liên đới đến bản quyền hay sở hữu
            trí tuệ khác của Đường sắt Việt Nam và
            các nhà cung cấp có liên quan mà không thể chuyển nhượng
            được. Tất cả các nội dung được
            cung cấp tại Website này không được phép nhân bản,
            hiển thị, công bố, phổ biến, đưa tin tức
            hay lưu hành cho bất cứ ai, dưới bất kỳ
            hình thức nào, kể cả trên các Website độc lập
            khác mà không được sự chấp thuận của Đường
            sắt Việt Nam. Mọi hình ảnh, thương hiệu,
            nhãn hiệu hay biểu tượng trình bày tại Website này
            được bảo vệ bởi Luật sở hữu
            trí tuệ và các điều luật có liên quan khác và việc
            Quý khách sử dụng Website này không cho phép Quý khách được
            quyền sử dụng, nhân bản hay sở hữu. </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt">7.<span
                    style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
                style="font-size:14.0pt">Điều chỉnh và sửa
                đổi </span></b></p>

    <p style="text-align:justify;text-justify:inter-ideograph;text-indent:.25in;
        background:white"><span style="font-size:14.0pt">Đường
            sắt Việt Nam có quyền thay đổi, chỉnh
            sửa hoặc chấm dứt hoạt động của
            Website này vào bất cứ thời điểm nào. </span></p>

    <p style="margin-left:.25in;text-align:justify;text-justify:inter-ideograph;
        text-indent:-.25in;background:white"><b><span style="font-size:14.0pt">8.<span
                    style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></b><b><span
                style="font-size:14.0pt">Luật điều chỉnh và cơ quan
                giải quyết tranh chấp </span></b></p>

    <p style="text-align:justify;text-justify:inter-ideograph;text-indent:.25in;
        background:white"><span style="font-size:14.0pt">Điều kiện
            Sử dụng này được điều chỉnh
            bởi luật của nước Cộng hoà xã hội
            chủ nghĩa Việt Nam. Tòa án nước Cộng hòa xã hội
            chủ nghĩa Việt Nam là cơ quan duy nhất có
            thẩm quyền giải quyết tất cả các tranh
            chấp có liên quan. </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

</div>