<div class="container-fluid page" *ngIf="isShow">
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center" style="font-family: Arial, Helvetica, sans-serif;font-size: 25px; font-weight: 700; color: #317eac;">
            Quản lý hành trình
          </div>
    

      <div class="col-md-12 table-responsive list-ticket-desktop" style="padding-top: 70px;">
        <div ng-show="successGroup.length > 0" class="ng-hide">
            <button class="btn btn-danger" (click)="btnDelete()" value="Xóa" style="float: right; background-color: #F33A00; outline: none;border: 1px solid #ccc; padding: 5px; border-radius: 5px; ">Xóa</button>
            <button (click)="openModal()" type="button" class="btn btn-success" style="margin-right: 50px; margin-bottom: 5px;">Thêm</button>
            <input type="text" class="searchInput" name="btnSearch" [(ngModel)]="searchText" id="searchInput" placeholder="Tìm kiếm hành trình..." style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 5px;">
            <input type="text" class="searchInput" name="gaDiFilter" [(ngModel)]="filteredGaDi" placeholder="Lọc theo ga đi..." style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 5px;">
            <input type="text" class="searchInput" name="gaDenFilter" [(ngModel)]="filteredGaDen" placeholder="Lọc theo ga đến..." style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 5px;">
            <input type="date" class="searchInput" name="ngayDiFilter" [(ngModel)]="filteredNgayDi" placeholder="Lọc theo ngày đi..." style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 5px;">
            <input type="date" class="searchInput" name="ngayDenFilter" [(ngModel)]="filteredNgayDen" placeholder="Lọc theo ngày đến..." style="padding: 5px; border: 1px solid #ccc; border-radius: 5px; margin-right: 5px;">
            <h5 class="et-register-block ng-binding"><!--Các giao dịch thành công-->Danh sách hành trình</h5>

<!-- Modal Popup -->
<div class="modal" [(ngModel)]="modalOpen" (ngModelChange)="closeModal()" [class.show]="modalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm hành trình</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your desired content here -->
        <h3>Thông tin hành trình</h3>
        <div class="form-group">
            <label for="gaDi">Ga đi:</label>
            <input placeholder="Ga đi" list="stations"
            required type="text" id="gaDi" [(ngModel)]="hanhTrinhRequest.gaDi" class="form-control"
            pattern="^[^0-9]+$"
            #gaDiInput="ngModel"
            [ngClass]="{ 'error': gaDiInput.invalid && (gaDiInput.dirty || gaDiInput.touched) }"
            (input)="isError = gaDiInput.invalid && (gaDiInput.dirty || gaDiInput.touched) ? true : false">
            <datalist id="stations">
              <option value="Lào Cai"></option>
              <option value="Phố Lú"></option>
              <option value="Bảo Hà"></option>
              <option value="Yên Bái"></option>
              <option value="Phú Thọ"></option>
              <option value="Việt Trì"></option>
              <option value="Đông Anh"></option>
              <option value="Hà Nội"></option>
              <option value="Phủ Lý"></option>
              <option value="Nam Định"></option>
              <option value="Ninh Bình"></option>
              <option value="Bỉm Sơn"></option>
              <option value="Đồng Đăng"></option>
              <option value="Uông Bí"></option>
              <option value="Hạ Long"></option>
              <option value="Hải Dương"></option>
              <option value="Hải Phòng"></option>
              <option value="Thanh Hóa"></option>
              <option value="Minh Khôi"></option>
              <option value="Chợ Sy"></option>
              <option value="Vinh"></option>
              <option value="Yên Trung"></option>
              <option value="Hương Phố"></option>
              <option value="Đồng Lê"></option>
              <option value="Đồng Hới"></option>
              <option value="Đông Hà"></option>
              <option value="Huế"></option>
              <option value="Lăng Cô"></option>
              <option value="Đà Nẵng"></option>
              <option value="Trà Kiệu"></option>
              <option value="Phú Cang"></option>
              <option value="Tam Kỳ"></option>
              <option value="Núi Thành"></option>
              <option value="Quảng Ngãi"></option>
              <option value="Đức Phổ"></option>
              <option value="Bồng Sơn"></option>
              <option value="Diêu Trì"></option>
              <option value="Quy Nhơn"></option>
              <option value="Tuy Hòa"></option>
              <option value="Giã"></option>
              <option value="Ninh Hòa"></option>
              <option value="Nha Trang"></option>
              <option value="Ngã Ba"></option>
              <option value="Tháp Chàm"></option>
              <option value="Sông Mao"></option>
              <option value="Ma Lâm"></option>
              <option value="Phan Thiết"></option>
              <option value="Long Khánh"></option>
              <option value="Biên Hòa"></option>
              <option value="Bình Thuận"></option>
              <option value="Sài Gòn"></option>
  
            </datalist>
          </div>
          <div *ngIf="gaDiInput.invalid && (gaDiInput.dirty || gaDiInput.touched)">
            <span *ngIf="gaDiInput.errors?.['pattern']" class="error-message" style="color: #F33A00;">
              Chỉ cho phép nhập chữ cái.
            </span>
          <!-- <span *ngIf="searchForm.controls['machineSearch.gaDi'].invalid && (searchForm.controls['machineSearch.gaDi'].dirty || searchForm.controls['machineSearch.gaDi'].touched)">
            Vui lòng chỉ nhập ký tự không phải số.
          </span> -->
        </div>
          <div class="form-group">
            <label for="gaDen">Ga đến:</label>
            <input placeholder="Ga đến" list="stations-arivel"
             type="text" id="gaDen" [(ngModel)]="hanhTrinhRequest.gaDen" class="form-control"
             pattern="^[^0-9]+$"
             required
             #gaDenInput="ngModel"
             [ngClass]="{ 'error': gaDenInput.invalid && (gaDenInput.dirty || gaDenInput.touched) }"
             (input)="isErrorGaDen = gaDenInput.invalid && (gaDenInput.dirty || gaDenInput.touched) ? true : false" >
            <datalist id="stations-arivel">
              <option value="Lào Cai"></option>
              <option value="Phố Lú"></option>
              <option value="Bảo Hà"></option>
              <option value="Yên Bái"></option>
              <option value="Phú Thọ"></option>
              <option value="Việt Trì"></option>
              <option value="Đông Anh"></option>
              <option value="Hà Nội"></option>
              <option value="Phủ Lý"></option>
              <option value="Nam Định"></option>
              <option value="Ninh Bình"></option>
              <option value="Bỉm Sơn"></option>
              <option value="Đồng Đăng"></option>
              <option value="Uông Bí"></option>
              <option value="Hạ Long"></option>
              <option value="Hải Dương"></option>
              <option value="Hải Phòng"></option>
              <option value="Thanh Hóa"></option>
              <option value="Minh Khôi"></option>
              <option value="Chợ Sy"></option>
              <option value="Vinh"></option>
              <option value="Yên Trung"></option>
              <option value="Hương Phố"></option>
              <option value="Đồng Lê"></option>
              <option value="Đồng Hới"></option>
              <option value="Đông Hà"></option>
              <option value="Huế"></option>
              <option value="Lăng Cô"></option>
              <option value="Đà Nẵng"></option>
              <option value="Trà Kiệu"></option>
              <option value="Phú Cang"></option>
              <option value="Tam Kỳ"></option>
              <option value="Núi Thành"></option>
              <option value="Quảng Ngãi"></option>
              <option value="Đức Phổ"></option>
              <option value="Bồng Sơn"></option>
              <option value="Diêu Trì"></option>
              <option value="Quy Nhơn"></option>
              <option value="Tuy Hòa"></option>
              <option value="Giã"></option>
              <option value="Ninh Hòa"></option>
              <option value="Nha Trang"></option>
              <option value="Ngã Ba"></option>
              <option value="Tháp Chàm"></option>
              <option value="Sông Mao"></option>
              <option value="Ma Lâm"></option>
              <option value="Phan Thiết"></option>
              <option value="Long Khánh"></option>
              <option value="Biên Hòa"></option>
              <option value="Bình Thuận"></option>
              <option value="Sài Gòn"></option>
            </datalist>
          </div>

          <div *ngIf="gaDenInput.invalid && (gaDenInput.dirty || gaDenInput.touched)">
            <span *ngIf="gaDenInput.errors?.['pattern']" class="error-message" style="color: #F33A00;">
              Chỉ cho phép nhập chữ cái.
          </span>
        </div>
          <div class="form-group">
            <label for="gioDi">Giờ đi:</label>
            <input placeholder="00:00:00" type="text" id="gioDi" [(ngModel)]="hanhTrinhRequest.gioDi" class="form-control"
            required
            pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
            #gioDiInput="ngModel"
            [ngClass]="{ 'error': gioDiInput.invalid && (gioDiInput.dirty || gioDiInput.touched) }"
            (input)="isErrorGioDi = gioDiInput.invalid && (gioDiInput.dirty || gioDiInput.touched) ? true : false" >
            
          </div>

          <div *ngIf="gioDiInput.invalid && (gioDiInput.dirty || gioDiInput.touched)">
            <span *ngIf="gioDiInput.errors?.['pattern']" class="error-message" style="color: #F33A00;">
              Nhập giờ theo đúng định dạng giờ:phút:giây
          </span>
        </div>
          <div class="form-group">
            <label for="gioDen">Giờ đến:</label>
            <input placeholder="00:00:00" type="text" id="gioDen" [(ngModel)]="hanhTrinhRequest.gioDen" class="form-control"
            required
            pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
            #gioDenInput="ngModel"
            [ngClass]="{ 'error': gioDenInput.invalid && (gioDenInput.dirty || gioDenInput.touched) }"
            (input)="isErrorGioDen = gioDenInput.invalid && (gioDenInput.dirty || gioDenInput.touched) ? true : false" >
            
          </div>

          <div *ngIf="gioDenInput.invalid && (gioDenInput.dirty || gioDenInput.touched)">
            <span *ngIf="gioDenInput.errors?.['pattern']" class="error-message" style="color: #F33A00;">
              Nhập giờ theo đúng định dạng giờ:phút:giây
          </span>
        </div>
          <div class="form-group">
            <label for="ngayDi">Ngày đi:</label>
            <input  type="date" id="ngayDi" [(ngModel)]="hanhTrinhRequest.ngayDi" class="form-control" min="{{ minDate }}">
          </div>
          <div class="form-group">
            <label for="ngayDen">Ngày đến:</label>
            <input type="date" id="ngayDen" [(ngModel)]="hanhTrinhRequest.ngayDen" class="form-control" min="{{ hanhTrinhRequest.ngayDi }}" [min]="hanhTrinhRequest.ngayDen | date:'yyyy-MM-yyyy'">
          </div>
          <div class="form-group">
            <label for="tinhTrang">Trạng thái:</label>
            <input type="number" id="trangThai" [(ngModel)]="hanhTrinhRequest.trangThai" class="form-control" disabled>
          </div>
          <!-- <div class="form-group">
            <label for="giaVe">Giá vé</label>
            <input placeholder="Giá vé" type="number" id="giaVe" [(ngModel)]="hanhTrinhRequest.giaVe" class="form-control">
          </div> -->
          <div class="form-group">
            <label for="giaVe">Giá vé</label>
            <input placeholder="Giá vé" type="text" id="giaVe" [(ngModel)]="hanhTrinhRequest.giaVe" class="form-control"
                   required pattern="^\d+(\.\d{1,2})?$" 
                   #giaVeInput="ngModel"
                   [ngClass]="{ 'error': giaVeInput.invalid && (giaVeInput.dirty || giaVeInput.touched) }"
                   (input)="isErrorGiaVe = giaVeInput.invalid && (giaVeInput.dirty || giaVeInput.touched) ? true : false">
        </div>
        <div *ngIf="giaVeInput.invalid && (giaVeInput.dirty || giaVeInput.touched)">
          <span *ngIf="giaVeInput.errors?.['pattern']" class="error-message" style="color: #F33A00;">
            Nhập giá vé là số không âm
        </span>
      </div>
          <div class="form-group">
            <label for="tenTau">Tàu</label>
            <select id="tenTau"  class="form-control" [(ngModel)]="hanhTrinhRequest.tau">
              <option *ngFor="let tau of Tau" [ngValue]="tau">{{ tau.tenTau }}</option>

              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="isError || isErrorGioDi || isErrorGiaVe || isErrorGioDen || isErrorGaDen" (click)="onThemClick()">Thêm</button>
          </div>
      </div>
    </div>
  </div>
</div>

            <table class="table table-bordered">
                <thead class="et-table-header">
                <tr>
                    <th style="width: 2%;">#</th>
                    <th style="width: 19%;" class="ng-binding">Tên tàu<!--Họ tên--></th>
                    <th style="width: 19%;" class="ng-binding">Số lượng toa<!--Thông tin vé--></th>
                    <th style="width: 8%;" class="ng-binding">Ga đi<!--Thành tiền (VNĐ)--></th>
                    <th style="width: 15%;" class="ng-binding">Ga đến<!--Loại lệ phí trả vé--></th>
                    <th style="width: 15%;" class="ng-binding">Ngày đi<!--Loại lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Ngày đến<!--Lệ phí trả vé--></th>
                    <th style="width: 15%;" class="ng-binding">Giờ đi<!--Loại lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Giờ đến<!--Lệ phí trả vé--></th>
                    <th style="width: 8%;" class="ng-binding">Giá vé<!--Lệ phí trả vé--></th>

                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loads of HanhTrinh | filter: searchText; let i = index">
                      <ng-container *ngIf="(loads.gaDi.includes(filteredGaDi) || filteredGaDi === '') && (loads.gaDen.includes(filteredGaDen) || filteredGaDen === '') && (loads.ngayDi.includes(filteredNgayDi) || filteredNgayDi === '') && (loads.ngayDen.includes(filteredNgayDen) || filteredNgayDen === '')">

                        <td>{{i+1}}</td>
                        <td>{{loads.tau.tenTau}}</td>
                        <td>{{loads.tau.soLuongToa}}</td>
                        <td>{{loads.gaDi}}</td>
                        <td>{{loads.gaDen}}</td>
                        <td>{{loads.ngayDi}}</td>
                        <td>{{loads.ngayDen}}</td>
                        <td>{{loads.gioDi}}</td>
                        <td>{{loads.gioDen}}</td>
                        <td>{{loads.giaVe}}</td>
                        <td>   
                            <input type="checkbox" (change)="selectLoad($event, loads)">
                        </td>
                        <td>
                          <button (click)="openModal1(loads)" type="button" class="btn btn-secondary">Sửa</button>

                        </td>
                      </ng-container>

                    </tr>
                    <div class="modal" [class.show]="modalOpen1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Sửa hành trình</h5>
                            <button type="button" class="close" aria-label="Close" (click)="closeModal1()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <!-- Add your desired content here -->
                            <h3>Thông tin hành trình</h3>
                            <div class="form-group">
                                <label for="gaDi">Ga đi:</label>
                                <input placeholder="Ga đi" list="stations"
                                required #cus_class="ngModel" type="text" id="gaDi" [(ngModel)]="hanhTrinhRequest1.gaDi" class="form-control">
                                <datalist id="stations">
                                  <option value="Lào Cai"></option>
                                  <option value="Phố Lú"></option>
                                  <option value="Bảo Hà"></option>
                                  <option value="Yên Bái"></option>
                                  <option value="Phú Thọ"></option>
                                  <option value="Việt Trì"></option>
                                  <option value="Đông Anh"></option>
                                  <option value="Hà Nội"></option>
                                  <option value="Phủ Lý"></option>
                                  <option value="Nam Định"></option>
                                  <option value="Ninh Bình"></option>
                                  <option value="Bỉm Sơn"></option>
                                  <option value="Đồng Đăng"></option>
                                  <option value="Uông Bí"></option>
                                  <option value="Hạ Long"></option>
                                  <option value="Hải Dương"></option>
                                  <option value="Hải Phòng"></option>
                                  <option value="Thanh Hóa"></option>
                                  <option value="Minh Khôi"></option>
                                  <option value="Chợ Sy"></option>
                                  <option value="Vinh"></option>
                                  <option value="Yên Trung"></option>
                                  <option value="Hương Phố"></option>
                                  <option value="Đồng Lê"></option>
                                  <option value="Đồng Hới"></option>
                                  <option value="Đông Hà"></option>
                                  <option value="Huế"></option>
                                  <option value="Lăng Cô"></option>
                                  <option value="Đà Nẵng"></option>
                                  <option value="Trà Kiệu"></option>
                                  <option value="Phú Cang"></option>
                                  <option value="Tam Kỳ"></option>
                                  <option value="Núi Thành"></option>
                                  <option value="Quảng Ngãi"></option>
                                  <option value="Đức Phổ"></option>
                                  <option value="Bồng Sơn"></option>
                                  <option value="Diêu Trì"></option>
                                  <option value="Quy Nhơn"></option>
                                  <option value="Tuy Hòa"></option>
                                  <option value="Giã"></option>
                                  <option value="Ninh Hòa"></option>
                                  <option value="Nha Trang"></option>
                                  <option value="Ngã Ba"></option>
                                  <option value="Tháp Chàm"></option>
                                  <option value="Sông Mao"></option>
                                  <option value="Ma Lâm"></option>
                                  <option value="Phan Thiết"></option>
                                  <option value="Long Khánh"></option>
                                  <option value="Biên Hòa"></option>
                                  <option value="Bình Thuận"></option>
                                  <option value="Sài Gòn"></option>
                      
                                </datalist>
                              </div>
                              
                              <div class="form-group">
                                <label for="gaDen">Ga đến:</label>
                                <input placeholder="Ga đến" list="stations-arivel"
                                required #depStation="ngModel" type="text" id="gaDen" [(ngModel)]="hanhTrinhRequest1.gaDen" class="form-control">
                                <datalist id="stations-arivel">
                                  <option value="Lào Cai"></option>
                                  <option value="Phố Lú"></option>
                                  <option value="Bảo Hà"></option>
                                  <option value="Yên Bái"></option>
                                  <option value="Phú Thọ"></option>
                                  <option value="Việt Trì"></option>
                                  <option value="Đông Anh"></option>
                                  <option value="Hà Nội"></option>
                                  <option value="Phủ Lý"></option>
                                  <option value="Nam Định"></option>
                                  <option value="Ninh Bình"></option>
                                  <option value="Bỉm Sơn"></option>
                                  <option value="Đồng Đăng"></option>
                                  <option value="Uông Bí"></option>
                                  <option value="Hạ Long"></option>
                                  <option value="Hải Dương"></option>
                                  <option value="Hải Phòng"></option>
                                  <option value="Thanh Hóa"></option>
                                  <option value="Minh Khôi"></option>
                                  <option value="Chợ Sy"></option>
                                  <option value="Vinh"></option>
                                  <option value="Yên Trung"></option>
                                  <option value="Hương Phố"></option>
                                  <option value="Đồng Lê"></option>
                                  <option value="Đồng Hới"></option>
                                  <option value="Đông Hà"></option>
                                  <option value="Huế"></option>
                                  <option value="Lăng Cô"></option>
                                  <option value="Đà Nẵng"></option>
                                  <option value="Trà Kiệu"></option>
                                  <option value="Phú Cang"></option>
                                  <option value="Tam Kỳ"></option>
                                  <option value="Núi Thành"></option>
                                  <option value="Quảng Ngãi"></option>
                                  <option value="Đức Phổ"></option>
                                  <option value="Bồng Sơn"></option>
                                  <option value="Diêu Trì"></option>
                                  <option value="Quy Nhơn"></option>
                                  <option value="Tuy Hòa"></option>
                                  <option value="Giã"></option>
                                  <option value="Ninh Hòa"></option>
                                  <option value="Nha Trang"></option>
                                  <option value="Ngã Ba"></option>
                                  <option value="Tháp Chàm"></option>
                                  <option value="Sông Mao"></option>
                                  <option value="Ma Lâm"></option>
                                  <option value="Phan Thiết"></option>
                                  <option value="Long Khánh"></option>
                                  <option value="Biên Hòa"></option>
                                  <option value="Bình Thuận"></option>
                                  <option value="Sài Gòn"></option>
                                </datalist>
                              </div>
                              <div class="form-group">
                                <label for="gioDi">Giờ đi:</label>
                                <input placeholder="00:00:00" type="text" id="gioDi" [(ngModel)]="hanhTrinhRequest1.gioDi" class="form-control">
                              </div>
                              <div class="form-group">
                                <label for="gioDen">Giờ đến:</label>
                                <input placeholder="00:00:00" type="text" id="gioDen" [(ngModel)]="hanhTrinhRequest1.gioDen" class="form-control">
                              </div>
                              <div class="form-group">
                                <label for="ngayDi">Ngày đi:</label>
                                <input  type="date" id="ngayDi" [(ngModel)]="hanhTrinhRequest1.ngayDi" class="form-control" min="{{ minDate }}">
                              </div>
                              <div class="form-group">
                                <label for="ngayDen">Ngày đến:</label>
                                <input type="date" id="ngayDen" [(ngModel)]="hanhTrinhRequest1.ngayDen" class="form-control" min="{{ hanhTrinhRequest.ngayDi }}" [min]="hanhTrinhRequest.ngayDen | date:'yyyy-MM-yyyy'">
                              </div>
                              <div class="form-group">
                                <label for="tinhTrang">Trạng thái:</label>
                                <input type="number" id="trangThai" [(ngModel)]="hanhTrinhRequest1.trangThai" class="form-control">
                              </div>
                              <div class="form-group">
                                <label for="giaVe">Giá vé</label>
                                <input placeholder="Giá vé" type="number" id="giaVe" [(ngModel)]="hanhTrinhRequest1.giaVe" class="form-control">
                              </div>
                              <div class="form-group">
                                <label for="tenTau">Tàu</label>
                                <select id="tenTau"  class="form-control" [(ngModel)]="hanhTrinhRequest1.tau">
                                  <option *ngFor="let tau of Tau" [ngValue]="tau">{{ tau.tenTau }}</option>
                    
                                  <!-- Add more options as needed -->
                                </select>
                              </div>
                              <div class="form-group">
                                <button class="btn btn-primary" (click)="onCapNhatClick()">Cập nhật</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </tbody>
                <!-- ngRepeat: group in successGroup -->
            </table>
        </div>
    </div>
  </div>
  