<div class="WordSection1">

    <p class="MsoListParagraph" style="text-align:center">
        <b><span style="line-height:107%;color:red">Các Điều Kiện&amp; ĐiềuKhoản</span></b>
    </p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;background:
    white"><b><span style="font-size:14.0pt;color:#333333">1.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span>
        </b>
        <b><span style="font-size:14.0pt;color:#333333">Quy định vận
                chuyển</span></b>
    </p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;
    text-align:justify;text-justify:inter-ideograph;text-indent:.5in;background:
    white"><a name="_GoBack"></a><span style="font-size:14.0pt;color:#333333">Đường
            sắt Việt Nam áp dụng một số quy định
            vận chuyển để bảo đảm an toàn và
            tiện ích cho hành khách đi tàu. Hành khách vui lòng xem chi
            tiết&nbsp;</span><a href="/#/pages/quydinhvanchuyen" target="_parent"><strong><span style="font-size:14.0pt;color:#166987;text-decoration:
    none">tại đây</span></strong></a><span style="font-size:14.0pt;
    color:#333333">.</span></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;background:
    white"><b><span style="font-size:14.0pt;color:#333333">2.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></b><strong><span style="font-size:14.0pt;color:#333333">Điều kiện sử
                dụng hệ thống mua vé trực tuyến</span></strong></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;
    text-align:justify;text-justify:inter-ideograph;text-indent:.5in;background:
    white"><span style="font-size:14.0pt;color:#333333">Với
            Đường sắt Việt Nam, việc mua vé trực
            tuyến thật dễ dàng. Chỉ với vài nhấp
            chuột, hành khách đã có thể lên kế hoạch cho
            chuyến đi của mình. Hành khách vui lòng xem chi
            tiết&nbsp;</span><a href="/#/pages/dieukiensudunghethong" target="_parent"><strong><span style="font-size:14.0pt;color:#166987;text-decoration:
    none">tại đây</span></strong></a><span style="font-size:14.0pt;
    color:#333333">.</span></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;
    text-align:justify;text-justify:inter-ideograph;text-indent:-.25in;background:
    white"><strong><span style="font-size:14.0pt;color:#333333">3.<span style="font:7.0pt ">&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span></strong><strong><span style="font-size:14.0pt;color:#333333">Điều khoản sử
                dụng website dsvn.vn </span></strong></p>

    <p style="margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;
    text-align:justify;text-justify:inter-ideograph;background:white"><span style="font-size:14.0pt;color:#333333">Để
            đảm bảo
            quyền lợi cho người dùng website Đường
            sắt Việt Nam, chúng tôi áp dụng các&nbsp;</span><a href="/#/pages/dienkiensudungwebsite"
            target="_parent"><strong><span style="font-size:14.0pt;color:#166987;text-decoration:none">điều
                    khoản sau</span></strong></a><span style="font-size:14.0pt;color:#333333">&nbsp;đối
            với người dùng truy cập và sử dụng Website
            thương mại điện tử của
            Đường sắt Việt Nam.</span><span style="font-size:
    14.0pt"> </span></p>

    <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph"><span
            style="font-size:14.0pt;line-height:107%">&nbsp;</span></p>

</div>